<div class="text-content-editor">
    <h3>Testo</h3>
    <h4>topic: {{topic}}</h4>
    <h5>{{uuid}}</h5>

    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-row my-3">
                <label class="form-check-label">
                    Tipo:                       
                </label>
                <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="txt" [(ngModel)]="type">
                        semplice                       
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="html" [(ngModel)]="type">
                        html
                        <span class="form-check-sign"></span>
                    </label>
                </div>
                <div class="form-check-radio">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="md" [(ngModel)]="type">
                        markdown
                        <span class="form-check-sign"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group topic">
                <label for="lastName" class="strong">Topic:</label>
                <input type="text" class="form-control" name="lastName" placeholder="topic"
                    [(ngModel)]="content.topic" autocomplete="off">
            </div>
            <div class="col-12 col-md-6 form-group">
                <label for="firstName" class="strong">Nome:</label>
                <input type="text" class="form-control" name="firstName" placeholder="nome"
                    [(ngModel)]="content.name" autocomplete="off">
            </div>
            <div class="col-12 col-md-6 form-group">
                <label for="lastName" class="strong">Lingua:</label>
                <input type="text" class="form-control" name="lastName" placeholder="lingua"
                    [(ngModel)]="content.lang" autocomplete="off">
            </div>

            <div *ngIf="type=='text'" class="col-12 form-group">
                <label for="testo" class="strong">Testo (semplice):</label>
                <textarea class="form-control" name="text" placeholder="testo" [(ngModel)]="content.body"></textarea>
            </div>

            <div *ngIf="type=='html'" class="col-12 form-group">
                <label for="testo" class="strong">Testo (HTML):</label>
                <textarea class="form-control" name="text" placeholder="testo" [(ngModel)]="content.body"></textarea>
            </div>

            <div *ngIf="type=='md'" class="col-12 form-group">
                <label for="content" class="strong">Testo (markdown)</label>
                <md-editor name="content" 
                [upload]="doUpload" 
                [preRender]="preRenderFunc" 
                [postRender]="postRenderFunc"
                [(ngModel)]="content.body" 
                [height]="'500px'" 
                mode="editor" 
                [options]="options" 
                (onEditorLoaded)="onEditorLoaded($event)"
                (onPreviewDomChanged)="onPreviewDomChanged($event)"
                required 
                maxlength="500">
                </md-editor>
            </div>

            <div class="col-12 form-group tags">
                <label for="tags" class="strong">Tag:</label>
                <input type="text" class="form-control" name="tags" placeholder="inserire uno o più tag separati da virgole"
                    [(ngModel)]="content.tags" autocomplete="off">
            </div>

            <div class="col-12 form-group tags">
                <label for="description" class="strong">Descrizione:</label>
                <input type="text" class="form-control" name="tags" placeholder="descrizione"
                    [(ngModel)]="content.description" autocomplete="off">
            </div>
            <div *ngIf="content.URL" class="col-12 form-group tags">
                <label for="URL" class="strong">URL:</label>
                <input type="text" class="form-control" name="URL" placeholder=""
                    [(ngModel)]="content.URL" autocomplete="off">
            </div>

        </div>

        <!-- BUTTON -->
        <div class="row">
        <div class="col-12 d-flex flex-row justify-content-center buttons">
            <div class="p-2">
                <button *ngIf="!uuid" class="btn btn-primary btn-block btn-round" style="max-width: 300px; display: initial;" (click)="createContent()">Aggiungi</button>
                <button *ngIf="uuid" class="btn btn-primary btn-block btn-round" style="max-width: 300px; display: initial;" (click)="updateContent()">Modifica</button>
            </div>
        </div>

    </div>

</div>


