
.text-content-editor {
    [class*='col'] {
        padding-left: 5px;
        padding-right: 5px;
    }
    text-align: initial;
    label {
        text-align: left;
        font-weight: 600;
    }
    .form-check-radio {
        margin-left: 10px;
    }
    textarea {
        min-height: 200px;
    }
    h3, h4, h5 {
        text-align: center;
    }
    h3 {
        font-weight: bold;
    }
}
