<div class="container">
    <div class="row">
      <div class="form col-md-8 mr-auto ml-auto">
        <h3 class="text-center">Contattaci</h3>
        <form class="contact-form">
  
          <div class="row">
            <div class="col-md-12">
              <label>Destinatario</label>
              <select [(ngModel)]="sendto" [ngModelOptions]="{standalone: true}" class="form-control custom-select" name="uuidLookingForJobAreaReference">
                <option *ngFor="let recipient of recipients" [value]="recipient.code">{{recipient.description}}</option>
              </select>  
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-6">
              <label>Name</label>
              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nome" (focus)="focus=true"
                  (blur)="focus=false">
              </div>
            </div>
            <div class="col-md-6">
              <label>Email</label>
              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><fa-icon icon="envelope"></fa-icon></span>
                </div>
                <input type="text" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email" (focus)="focus=true"
                  (blur)="focus=false">
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <label>Oggetto</label>
              <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                <input type="text" [(ngModel)]="subject" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Oggetto" (focus)="focus=true"
                  (blur)="focus=false">
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-md-12">
              <label>Messaggio</label>
                <textarea class="form-control" [(ngModel)]="message" [ngModelOptions]="{standalone: true}" rows="4"
                  placeholder="Scrivi qui il tuo messaggio..."></textarea>
            </div>
          </div>
  
  
          <div *ngIf="attachmentEnabled" class="form-group h-left-aligned-text no-gutters row align-items-center justify-content-start">
            <div class="col-12">
              <label class="strong">Allegato (PDF, documento, immagine, compresso):</label>
            </div>
            <div class="col-auto">
              <label class="btn custom-input-btn" style="margin: 0;">
                <input type="file" ng2FileSelect [uploader]="uploader" name="attached" accept="pdf" (change)="attachedChanged()" style="display:none">        
                <i class="fa fa-cloud-upload"></i> Selezionare un file da allegare
              </label>
            </div>
            <div class="col" style="margin-left:10px; font-weight: 600;">
              <span *ngFor="let item of uploader.queue">{{ item?.file?.name }}</span>
            </div>
          </div>
  
  
          <div class="row">
            <div class="col-md-4 mr-auto ml-auto">
              <button class="btn btn-primary btn-fill" (click)="sendMessage()">Invia</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
