<div class="h-tab-content list">
  <h1>Lista dei blog</h1>
  <div class="content-row">

    <div class="content-row content-header-row">
      <div class="d-flex align-items-stretch flex-row align-items-center items-row">
        <div class="d-flex align-items-center px-2 edit-cell">&nbsp;</div>
        <div class="d-flex align-items-center px-2 title-cell">Titolo</div>
        <div class="d-flex align-items-center px-2 size-cell">Nr. post</div>
        <div class="d-flex align-items-center px-2 actions-cell">Azioni</div>
      </div>
    </div>

    <!-- LOOP ROWS-->
    <div *ngFor="let blog of blogs; let i = index" class="content-row" [ngClass]="{'unpublicated':!blog.publicated}">

      <div class="d-flex align-items-stretch flex-row align-items-center items-row">
        <div class="d-flex align-items-center edit-cell px-2 py-1">
          <button type="button" class="btn btn-primary btn-just-icon h-btn-small-icon" placement="right"
            (click)="edit(blog.uuid)">
            <i class="fa fa-pencil"></i>
          </button>
        </div>
        <div class="d-flex align-items-center title-cell px-2">{{blog.title}}</div>
        <div class="d-flex align-items-center size-cell px-2">{{blog.posts?blog.posts.length:'0'}}</div>

        <div class="d-flex align-items-center actions-cell px-2">
          <button type="button" class="btn btn-success btn-just-icon h-btn-small-icon" (click)="listPosts(blog.uuid)"><i
              class="fa fa-eye"></i></button>
          <button type="button" class="btn btn-danger btn-just-icon h-btn-small-icon" (click)="delete(blog.uuid)"><i
              class="fa fa-times"></i></button>
        </div>
      </div>

    </div>

  </div>

</div>