.pub-post-list {
    width: 100%;
    background-color: #ffffff80;
    padding: 5px;
    border-radius: 10px;

    .post-row, .post-cell, .username-cell {
        width: 100%;
    }

    h3 {
        font-size:1.1em;
        font-weight: bold;
        margin: 5px 0;
    }
    .post-cell {
        font-size: 0.8em;
        margin-left: 5px;
    }
    .date-cell {
        font-size: 1.0em;
        font-weight: bold;
    }
    .username-cell {
        font-size: 1em;
        padding-right: 3px;
        font-weight: bold;
        font-style: oblique;
        color: #000000aa;
    }
    .title-cell {
        font-size: 1.0em;
    }
    .picture-cell {
        font-size: 1.0em;
        width: 50px;
    }


    a {
        color: initial;
        padding: 0;
    }
    .row {
        margin: 10px 0 5px;
    }

}