<div class="pub-post-list">
    <h3>I post più recenti</h3>
    <!-- LOOP POSTS -->
    <div *ngFor="let post of posts; let i = index" class="row">

        <div class="post-row d-flex align-items-stretch flex-row align-items-center items-row">
            <div class="avatar d-flex picture-cell">
                <a>
                    <img src={{getPictureUrl(post)}} onerror="this.src='./assets/images/no-picture.png'" alt="avatar"
                        class="img-circle img-no-padding img-responsive h-img-bordered">
                </a>
            </div>

            <div class="d-flex flex-column post-cell">
                <div class="d-flex flex-row">
                    <div class="d-flex align-items-center date-cell">{{getDate(post.date)}}</div>
                    <div class="d-flex align-items-center justify-content-end username-cell">{{post.owner.username}}</div>
                </div>
                <div class="d-flex align-items-center title-cell"><a href="#/blog-view;uuid={{post.blogUuid}};post-uuid={{post.uuid}}">{{post.title}}</a></div>
            </div>
        </div>

    </div>
</div>