.blog-area-component {
    margin-top: 162px;

    @media screen and (max-width: 991px) {
        margin-top: 92px;
    }

    .panel-level-2 {
        min-height: 825px;
    }    
    .main-container {
        min-height: 900px;

        h1 {
            font-size:0.8em;
        }
    }
    .nav-link {
        font-size: 11px;
    }

    ul {
        font-size: 1.0em;
    }
}
