<div class="menu-wrapper blog-area-component">
    <div class="container main-container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg bg-primary">
                    <div class="container">
                        <div><a class="navbar-brand">Blog</a></div>
                        <div class="menu-collapse">
                             <div class="btn-group" dropdown>
                                <button id="button-disabled-item" dropdownToggle type="button"
                                    class="btn btn-primary dropdown-toggle" aria-controls="dropdown-disabled-item">
                                    Blog <span class="caret"></span>
                                </button>
                                <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                    role="menu" aria-labelledby="button-disabled-item">
                                    <li role="menuitem"><a class="dropdown-item" href="#/blog/blog-list">Lista</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href="#/blog/blog">Nuovo</a></li>
                                </ul>
                            </div>

                            <div class="btn-group" dropdown>
                                <button id="button-disabled-item" dropdownToggle type="button"
                                    class="btn btn-primary dropdown-toggle" aria-controls="dropdown-disabled-item">
                                    Post <span class="caret"></span>
                                </button>
                                <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                    role="menu" aria-labelledby="button-disabled-item">
                                    <li role="menuitem"><a class="dropdown-item" href="#/blog/post-list">Lista</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href="#/blog/post">Nuovo</a></li>
                                </ul>
                            </div>

                            <div *ngIf="isUserAdmin()" class="btn-group" dropdown>
                                <button id="button-disabled-item" dropdownToggle type="button"
                                    class="btn btn-primary dropdown-toggle" aria-controls="dropdown-disabled-item">
                                    Contenuti <span class="caret"></span>
                                </button>
                                <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                    role="menu" aria-labelledby="button-disabled-item">
                                    <li role="menuitem"><a class="dropdown-item" href="#">Documenti</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href="#">Immagini</a></li>
                                    <li role="menuitem"><a class="dropdown-item disabled" href="#">Disabled item</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href="#">Video</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href="#">Allegati</a></li>
                                </ul>
                            </div>

                        </div>
                        <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                            data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                            aria-label="Toggle navigation" (click)="sidebarToggle()">
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                        </button>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-12 mr-auto ml-auto">
                <div class="panel-level-2">

                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
</div>
