.nav-tabs-wrapper {
    margin-left: 0;
    margin-right: 0;
}

h1 {
    margin: 20px 0 0;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
}

.filter {
    margin: 20px 10px;

    &>div {
        padding: 0 0 10px;
    }
    label {
        width: 100px;
        margin-bottom: 0;
        font-weight: bold;
        background-color: #fff0be;
        padding-right: 10px;
        margin-left: 5px;
        border-radius: 15px 0 0 15px;

        i {
            font-size: 24px;
        }
    }
    .filter-header {
        margin-left: 35px;
        font-size: 1.2em;
    }
    .topic-filter {
        input {
            width: 100%;
        }
    }
}

.content-row {
    .items-row {
        margin-bottom: 0;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0;
        font-size: 0.9em;
    
        &>div {
            border-right: 1px solid #e5e5e5;
            white-space: nowrap;
            overflow: hidden;
        }
        &>div:first-child {
            border-left: 1px solid #e5e5e5;
        }
    }
}

.content-header-row {
    background-color: #656565;
    color: #ffffff;
    font-size: 1.1em;
    font-weight: bold;

    .items-row {
        height: 50px;
    }
}

.d-flex {
    .items-header {
        background-color: #5e5e5e;
        
        >div {
            font-weight: bold;
            border-right: solid #ffffff 1px;
            color: #ffffff;
            &:last-child {
                border-right: none;
            }
        }
    }
    

    
    .icon-cell {
        min-width: 35px;
        max-width: 35px;
        i {
            font-size: 18px;
        }
    }
    
    .edit-cell {
        min-width: 41px;
        max-width: 41px;
    }
    .name-cell {
        min-width: 300px;
        max-width: 300px;
        font-weight: bold;
    }
    .size-cell {
        width:100px;
    }
    .mimetype-cell {
        min-width: 160px;
        max-width: 160px;
    }
    .topic-cell {
        width: 100%;
    }

    .actions-cell {
        min-width: 97px;
        max-width: 97px;
    }
}

.h-btn-small-icon {
    padding: 2px 0 0;
    width: 25px;
    min-width: 25px;

    &:last-child {
        margin-right: 0
    }
}

.list {
    margin-bottom: 20px;
    text-align: initial;
}
