<div class="wrapper">
    <h2>Caricamento nuove immagini</h2>
    <h3>topic: {{topic}}</h3>
    <div class="row">
  
        <div class="col-12">
          <div ng2FileDrop
              [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
              (fileOver)="fileOverBase($event)"
              [uploader]="uploader"
              class="well my-drop-zone row no-gutters align-items-center">
              <div class="col">trascinare qui uno o più file o cliccare su "Seleziona"</div>
              <div class="col-auto">
                  <label class="btn custom-input-btn">
                    <input type="file" ng2FileSelect [uploader]="uploader" name="picture" style="display:none" accept="*" multiple>        
                    <i class="fa fa-cloud-upload"></i> Seleziona
                  </label>
              </div>
          </div>
        </div>
  
        <div class="col-12" style="margin-bottom: 40px">
            <div class="d-flex flex-column">
              <div *ngFor="let item of uploader.queue; let i = index" class="items-row">
                <!-- ROW -->
                <!--------->
                <div class="d-flex flex-row align-items-center">
                  <div style="width: 45px;">
                    <button type="button" class="btn btn-info btn-just-icon h-btn-small-icon" (click)="setVisible(i)"><i class="fa fa-file-text-o"></i></button>
                  </div>
                  <div class="p-2 file-name"><strong>{{ item?.file?.name }}</strong></div>
                  <div class="p-2" style="width:160px;">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</div>
                  <div class="p-2" style="width:100px;">
                    <div class="progress" style="margin-bottom: 0;">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                  </div>
                  <!-- actions -->
                  <div style="width: 135px;">
                    <button type="button" class="btn btn-success btn-just-icon h-btn-small-icon" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess"><i class="fa fa-cloud-upload"></i></button>
                    <button type="button" class="btn btn-warning btn-just-icon h-btn-small-icon" (click)="item.cancel()" [disabled]="!item.isUploading"><i class="fa fa-times"></i></button>
                    <button type="button" class="btn btn-danger btn-just-icon h-btn-small-icon" (click)="remove(i)"><i class="fa fa-times"></i></button>
                  </div>
                </div>
  
                <!-- DETAILS -->
                <!------------->
                <div class="h-details row" [hidden]="!isVisible(i)">
                  <div class="col-12 col-md-6 form-group h-left-aligned-text">
                    <label for="name" class="strong">Name:</label>
                    <input type="text" class="form-control" [name]="'name-'+i" placeholder="Nome" [(ngModel)]="items[i].name" autocomplete="off">
                  </div>
                  <div class="col-12 col-md-6 form-group h-left-aligned-text">
                    <label for="lang" class="strong">Lingua:</label>
                    <input type="text" class="form-control" [name]="'lang-'+i" placeholder="Codice lingua" [(ngModel)]="items[i].lang" autocomplete="off">
                  </div>
                  <div class="col-12 form-group h-left-aligned-text">
                    <label for="info" class="strong">Descrizione:</label>
                    <textarea class="form-control" [name]="'description-'+i" placeholder="Descrizione" [(ngModel)]="items[i].description"></textarea>
                  </div>
                  <div class="col-12 col-md-6 form-group h-left-aligned-text">
                    <label for="tags" class="strong">Tags:</label>
                    <input type="text" class="form-control" [name]="'tags-'+i" placeholder="Tag, separati da virgole" [(ngModel)]="items[i].tags" autocomplete="off">
                  </div>
                  <div class="col-12 col-md-6 d-flex flex-column h-left-aligned-text">
                    <label for="topic" class="strong">Topic:</label>
                    <div class="d-flex flex-row align-items-center h-header">
                      <div class="h-left-aligned-text">{{topic+'/'}}</div>
                      <div class="h-left-aligned-text" style="margin-left:8px; width:100%;">
                        <input type="text" class="form-control" [name]="'topic-'+i" placeholder="sub-topic" [(ngModel)]="items[i].topic" autocomplete="off">
                      </div>
                    </div>
                  </div>  
                </div>
  
              </div>
            </div>
  
            <div *ngIf="uploader?.queue?.length>0">
                <div class="row">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
  
                <div *ngIf="uploader?.queue?.length>1" style="text-align: center;margin-top: 20px">
                  <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    Upload all
                  </button>
                  <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    Cancel all
                  </button>
                  <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    Remove all
                  </button>
                </div>
  
                <div *ngIf="response" class="row" style="margin-top: 20px">
                  <div class="col-md-12">
                      <div class="panel panel-default">
                          <div class="panel-heading">Response</div>
                          <div class="panel-body">
                            {{ response }}
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
