.well {
    min-height: 20px;
    text-align: left;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f1eae052;
    border: 1px solid #f1eae0;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);

    label {
        margin: 0;
    }
}

.no-gutters>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.my-drop-zone { border: dashed 1px #d7cec1; }
.nv-file-over { border: dashed 1px rgb(0, 119, 255); background-color:#c8e3ee33 } /* Default class applied to drop zones on over */

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.h-btn-small-icon {
    padding: 2px 0 0;
    width: 25px;
    min-width: 25px;
}

.h-details {
    padding: 10px;
    background-color: aliceblue;
    margin-top: 5px;
    label {
        font-weight: bold;
    }
}

.items-row {
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;

    &:first-child {
        margin-top: 15px;
        border-top: 1px solid #e5e5e5;
        padding-top: 5px; 
    }
}

.file-name {
    text-align: left;
    width: 100%;
    max-width: calc(100% - 270px);;
    overflow: hidden;
}