<div class="modal-header">
    <h5 class="modal-title text-center">Codice di conferma</h5>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body h-confirmation-message">
    <div *ngIf="waitingForEmailConformation" class="h-center">
        E' stato inviato un messaggio contenente un <strong class="h-text-highlighted">codice di conferma</strong> al seguente indirizzo di posta elettronica<br />
        <strong class="h-highlighted">{{email}}</strong><br /><br />
        Inserire il codice ricevuto e cliccare sul pulsante "verifica il codice"<br />
    </div>
    <div *ngIf="waitingForMobileConformation" class="h-center">
        E' stato inviato un SMS contenente un <strong class="h-text-highlighted">codice di conferma</strong> al seguente numero di telefono<br />
        <strong class="h-highlighted">{{mobile}}</strong><br /><br />
        Inserire il codice ricevuto e cliccare sul pulsante "verifica il codice"<br />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" name="confirmationCode" placeholder="Inserire il codice di conferma ricevuto in e-mail" [(ngModel)]="confirmationCode" autocomplete="off">
    </div>
</div>
<div class="modal-footer">
    <button type="button" autofocus class="btn btn-default" (click)="fireEvent($event)">verifica il codice</button>
</div>