tab {
    min-height: 400px;
}
label {
    &.strong {
        font-weight: bold;
    }
}
textarea {
    height: 120px;
}
input.text-danger {
    background-color: #fdeaea !important;
}
.h-not-a-trusted-identificator {
    background-color: #ffdada !important;
    border: 1px solid #cf9696 !important;
    cursor: pointer;
}
.h-trusted-identificator {
    background-color: #dbf5d3 !important;
    border: 1px solid #9fcf96 !important;
}
.h-untrusted-message {
    margin-top: 5px;
}
.h-error-input-value {
    background-color: #fdeaea;
}

.form-check-sign::before {
    border: none;
}
.h-granted .form-check-sign::before {
    background-color: #73ad64 !important;
}
.h-ungranted .form-check-sign::before {
    background-color: #d94a4a !important;
}
.h-suspended .form-check-sign::before {
    background-color: #e4d837 !important;
}

form-check-radio.disabled .form-check-label {
    opacity: .5;
    cursor: not-allowed;
}
.page-header {
    padding-top: 220px;
}
.settings-area {
    background-color: #FFFFFFF8;

    .owner{
        text-align: center;
    }
    .owner .avatar{
        padding: 15px;
        max-width: 180px;
        margin: -85px auto 0;
        display: inline-block;
    }
    .owner .name h4{
        margin-top: 10px;
    }

    .nav-tabs-navigation {
        text-align: left;
    }
    h1 {
        font-size: 1.8em;
        margin: 20px 0;
    }
    h2 {
        font-size: 1.3em;
    }
    .h-form-header {
        margin-top: 20px;
        margin-bottom: 15px;
        h2 {
            color: #55acee;
        }
    }
    .h-identification {
        .buttons {
            margin-top: 60px
        }
    }
}

agm-map {
    height: 50vh;
}
