<div class="wrapper settings-area">
    <div class="inner-header" data-parallax="true" style="background-image: url('./assets/images/trees.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section inner-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <a href="#/profile" class="nav-link">
                        <img src={{getPictureUrl()}} onerror="this.src='./assets/images/no-picture.png'" alt="avatar"
                            class="img-circle img-no-padding img-responsive h-img-bordered">
                    </a>
                </div>
                <div class="name">
                    <h4 class="title">{{getFullName()}} ({{getEMail()}})</h4>
                </div>
            </div>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <tabset>

                        <!-- Identificazione e accesso -->
                        <!-- ========================= -->
                        <tab heading="Identificazione e accesso">

                            <h1>Identificazione e accesso</h1>

                            <div class="h-left-aligned-text h-identification">
                                <div class="form-group h-left-aligned-text">
                                    <label for="firstName" class="strong">Nome:</label>
                                    <input type="text" class="form-control" name="firstName" placeholder="firstName"
                                        [(ngModel)]="currentUser.firstName" autocomplete="off">
                                </div>

                                <div class="form-group h-left-aligned-text">
                                    <label for="lastName" class="strong">Cognome:</label>
                                    <input type="text" class="form-control" name="lastName" placeholder="lastName"
                                        [(ngModel)]="currentUser.lastName" autocomplete="off">
                                </div>

                                <div class="h-form-header">
                                    <h2>Identificativi di accesso</h2>
                                    Username, E-mail e numero di cellulare possono essere utilizzati alternativamente
                                    come identificativi di accesso nel modulo di log-in
                                </div>

                                <div class="form-group h-left-aligned-text">
                                    <label for="username" class="strong">Username (*):</label>
                                    <input type="text" class="form-control" name="username" placeholder="Email"
                                        [(ngModel)]="currentUser.username" autocomplete="off">
                                </div>

                                <!-- EMAIL -->
                                <div class="form-group h-left-aligned-text">
                                    <div class="d-flex flex-row align-items-center">
                                        <div style="width:100%">
                                            <label class="strong">E-mail (*)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"
                                                        [ngClass]="{'h-trusted-identificator':isTrustedEmail(), 'h-not-a-trusted-identificator':!isTrustedEmail()}"
                                                        (click)="sendEmailValidationCode()">
                                                        <fa-icon *ngIf="isTrustedEmail()" icon="envelope"></fa-icon>
                                                        <fa-icon *ngIf="!isTrustedEmail()" icon="redo"></fa-icon>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" name="email" placeholder="Email"
                                                    [(ngModel)]="currentUser.email" autocomplete="off">
                                            </div>
                                        </div>

                                        <div *ngIf="!isTrustedEmail()" style="width:150px; margin: 0 5px;">
                                            <label for="emailcode" class="strong">Codice:</label>
                                            <input type="text" class="form-control" name="emailcode" #emailCodeInput
                                                placeholder="Codice" [(ngModel)]="emailcode"
                                                (ngModelChange)="emailCodeChanged(emailCodeInput)" autocomplete="off">
                                        </div>
                                        <div *ngIf="!isTrustedEmail()">
                                            <label class="strong">&nbsp;</label>
                                            <button type="button" autofocus class="btn btn-default"
                                                (click)="validateEmail()">verifica il
                                                codice</button>
                                        </div>
                                    </div>
                                    <div *ngIf="!isTrustedEmail()" class="h-untrusted-message">
                                        E-mail non verificata: procedere con la procedura di verifica cliccando sul
                                        simbolo &nbsp;<fa-icon icon="redo"></fa-icon>&nbsp; che precede l'E-mail
                                    </div>
                                </div>

                                <!-- MOBILE -->
                                <!-- enabled untrusted procedure -->
                                <div class="form-group h-left-aligned-text">
                                    <label for="mobile" class="strong">Mobile (*):</label>
                                    <input type="text" class="form-control" name="mobile" placeholder="Mobile"
                                        [(ngModel)]="currentUser.mobile" autocomplete="off">
                                </div>
                                <!-- disabled trusted procedure
                                <div class="form-group h-left-aligned-text">
                                    <div class="d-flex flex-row align-items-center">
                                    <div style="width:100%">
                                        <label class="strong">Mobile:</label>
                                        <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" [ngClass]="{'h-trusted-identificator':isTrustedMobile(), 'h-not-a-trusted-identificator':!isTrustedMobile()}" (click)="sendMobileValidationCode()">
                                                <i *ngIf="isTrustedMobile()" class="nc-icon nc-check-2"></i>
                                                <i *ngIf="!isTrustedMobile()" class="nc-icon nc-refresh-69"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" name="mobile" placeholder="Mobile" [(ngModel)]="currentUser.mobile" autocomplete="off">
                                        </div>
                                    </div>

                                    <div *ngIf="currentUser.mobile.length>0 && !isTrustedMobile()" style="width:150px; margin: 0 5px;">
                                        <label for="mobilecode" class="strong">Codice:</label>
                                        <input type="text" class="form-control" name="mobilecode" #mobileCodeInput placeholder="Codice" [(ngModel)]="mobilecode" (ngModelChange)="emailCodeChanged(mobileCodeInput)" autocomplete="off">
                                    </div>
                                    <div *ngIf="currentUser.mobile.length>0 && !isTrustedMobile()">
                                        <label class="strong">&nbsp;</label>
                                        <button type="button" autofocus class="btn btn-default" (click)="validateMobile()">verifica il codice</button>
                                    </div>
                                    </div>
                                    <div *ngIf="!isTrustedMobile()" class="h-untrusted-message">Dispositivo mobile non verificato: procedere con la procedura di verifica cliccando su <i class="nc-icon nc-refresh-69"></i></div>
                                </div>
                                -->

                                <div class="h-form-header">
                                    <h2>Modifica della password</h2>
                                    La password deve contenere: (1) almeno una cifra, (2) almeno una lettera maiuscola,
                                    (3) almeno uno dei simboli [- ; . : @], (4) almeno otto caratteri
                                </div>

                                <!-- PASSWORD -->
                                <div class="form-group h-left-aligned-text">
                                    <label for="password" class="strong">Nuova password:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <fa-icon icon="key"></fa-icon>
                                            </span>
                                        </div>
                                        <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                            [ngClass]="{'text-danger':currentUser.password.length>0 && !validPassword}"
                                            style="border-left: 0; border-right:0;" name="password"
                                            placeholder="Password" [(ngModel)]="currentUser.password"
                                            (ngModelChange)="passwordChanged()" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <a (click)="changeShowPassword()" style="cursor: pointer">
                                                    <i class="fa fa-eye" style="font-size:14px"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <div *ngIf="notAValidPasswordMsg" class="h-untrusted-message">
                                        {{notAValidPasswordMsg}}</div>
                                </div>

                                <!-- RE-PASSWORD -->
                                <div class="form-group h-left-aligned-text">
                                    <label for="password" class="strong">Ridigitare la nuova password:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <fa-icon icon="key"></fa-icon>
                                            </span>
                                        </div>
                                        <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                            [ngClass]="{'text-danger':currentUser.password.length>0 && !validPasswords}"
                                            style="border-left: 0; border-right:0;" name="repassword"
                                            placeholder="Password" [(ngModel)]="repassword"
                                            (ngModelChange)="passwordChanged()" autocomplete="off">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <a (click)="changeShowPassword()" style="cursor: pointer">
                                                    <i class="fa fa-eye" style="font-size:14px"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="h-notes">
                                    (*) Deve essere valorizzato almeno un compo tra esername/e-mail e mobile
                                </div>

                                <!-- BUTTONS -->
                                <div class="d-flex flex-row justify-content-center buttons">
                                    <div *ngIf="isVisible('update')" class="p-2">
                                        <button class="btn btn-primary btn-block btn-round" (click)="update()"
                                            style="max-width: 300px; display: initial;">Aggiorna i dati</button>
                                    </div>
                                    <div class="p-2">
                                        <button (click)="userDeletion()" class="btn btn-danger btn-block btn-round"
                                            style="max-width: 300px; display: initial;">Cancellazione del profilo
                                            utente</button>
                                    </div>
                                </div>

                            </div>
                        </tab>

                        <!-- Informazioni -->
                        <!-- ============ -->
                        <tab heading="Informazioni">
                            <h1>Residenza</h1>
                            <div class="form-group h-left-aligned-text">
                                <label for="username" class="strong">Indirizzo:</label>
                                <input type="text" class="form-control" name="username" placeholder="Indirizzo"
                                    [(ngModel)]="currentUser.extra.residence.address.location" autocomplete="off">
                            </div>

                            <!-- MAP -->
                            <div>
                                <div class="form-group">
                                    <label>Localizzazione: inserire un indirizzo (anche parziale)</label>
                                    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
                                        placeholder="Indirizzo (anche parziale)" autocorrect="off" autocapitalize="off"
                                        spellcheck="off" type="text" #search>
                                </div>

                                <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom"
                                    [ngClass]="{'no-map': !currentUser.extra.residence.address.position}">
                                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                                </agm-map>
                                {{address}}
                            </div>

                            <h1>Professione</h1>
                            <div class="form-group h-left-aligned-text">
                                <label for="username" class="strong">Attività/Professione:</label>
                                <input type="text" class="form-control" name="username"
                                    placeholder="Attività/Professione" [(ngModel)]="currentUser.extra.profession"
                                    autocomplete="off">
                            </div>

                            <h1>La "massima"</h1>
                            <div class="form-group h-left-aligned-text">
                                <label for="info" class="strong">Massima:</label>
                                <textarea class="form-control" name="info" placeholder="massima"
                                    [(ngModel)]="currentUser.info"></textarea>
                            </div>

                            <!-- BUTTON -->
                            <div class="d-flex flex-row justify-content-center buttons">
                                <div class="p-2">
                                    <button class="btn btn-primary btn-block btn-round" (click)="updateInfo()"
                                        style="max-width: 300px; display: initial;">Aggiorna i dati</button>
                                </div>
                            </div>
                        </tab>

                        <!-- Credits -->
                        <!-- ======= -->
                        <tab *ngIf="isUserAdmin()" heading="Credits">
                            <h1>Accreditamenti personali</h1>
                            <div class="form-group h-left-aligned-text">

                                <div class="form-group h-left-aligned-text">
                                    <label for="username" class="strong">Stato degli accreditamenti:</label>

                                    <!-- requested/actual roles -->
                                    <div *ngFor="let role of currentUser.roles" class="form-check">
                                        <label class="form-check-label"
                                            [ngClass]="role.status>0?(role.status>1?'h-granted':'h-suspended'):'h-ungranted'">
                                            <input *ngIf="role.isActive" class="form-check-input" type="checkbox"
                                                checked
                                                [disabled]="role.name=='reguser' || role.status === 0 ? true : false">
                                            <input *ngIf="!role.isActive" class="form-check-input" type="checkbox"
                                                [disabled]="role.status === 0 ? true : false">
                                            {{role.name}}
                                            <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>

                                <!-- missing roles -->
                                <!--
                                    <label for="info" class="strong">Richiesta di un nuovo accreditamento</label>
                                    <div class="d-flex flex-row align-items-center">
                                    <div *ngFor="let role of getRequestableRoles(); let i = index" class="form-check-radio"
                                        [ngClass]="role.type === 0 ? 'disabled' : ''">
                                        <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="missingRoles" [id]="'missingRole'+i"
                                            value="{{role.uuid}}" [disabled]="role.type === 0 ? true : false">
                                        {{role.name}}
                                        <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                    </div>
                                -->

                                <textarea class="form-control" name="info" placeholder="Motivazione della richiesta"
                                    [(ngModel)]="credits.requestText"></textarea>
                            </div>

                            <!-- BUTTON -->
                            <div class="d-flex flex-row justify-content-center buttons">
                                <div class="p-2">
                                    <button class="btn btn-primary btn-block btn-round"
                                        (click)="sendCreditRequest()">Invia la
                                        richiesta</button>
                                </div>
                            </div>

                        </tab>

                        <!-- Personal photo -->
                        <!-- ============== -->
                        <tab heading="Foto">
                            <h1>Foto</h1>
                            <app-singlefileupload mode="no-details" url="/core/1.0/users/UUID/picture"
                                fieldNameParameter="fieldName" fieldNameValue="picture"></app-singlefileupload>
                        </tab>

                        <!-- Optional authorizations -->
                        <!-- ======================= -->
                        <tab heading="Dichiarazioni/autorizzazioni">
                            <h1>Dichiarazioni, autorizzazioni e privacy</h1>
                            <div class="form-group h-left-aligned-text">
                                <label for="username" class="strong">Dichiarazioni e autorizzazioni</label>
                                <div *ngFor="let option of currentUser.options" class="form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="option.selected"
                                            (change)="changedOptions(option.uuid, option.selected)" />
                                        {{option.description}}
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                        </tab>

                        <!-- Contents -->
                        <!-- ======== -->
                        <tab *ngIf="isUserAdmin() || isUserTester()" heading="Contenuti">
                            <app-contents></app-contents>
                        </tab>

                        <!-- Community messages -->
                        <!-- ================== -->
                        <tab heading="Messaggi">
                            <h3 class="text-muted">Messaggistica interna</h3>
                            <h5>work in progress</h5>
                            <!--<app-messages></app-messages>-->
                        </tab>

                        <!-- Profile configurations -->
                        <!-- ====================== -->
                        <tab heading="Configurazione">
                            <h3 class="text-muted">Configurazione del profilo</h3>
                            <h5>work in progress</h5>

                            <!-- BUTTON -->
                            <!-- 
                            <div class="d-flex flex-row justify-content-center buttons">
                                <div class="p-2">
                                    <button class="btn btn-warning btn-round">Aggiorna la configurazione</button>
                                </div>
                            </div>
                            -->
                        </tab>

                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>