.backend-config {
    h6 {
        display: inline;
        margin-left: 10px;
    }
    .left-label {
        text-align: right;
        margin-bottom: 15px;
        padding-right: 20px;
    }
    .form-field {
        padding-left: 5px;
    }
    input {
        font-size: 12px;
        &.status-active {
            background-color: #e3f7e3;
        }
        &:not(.status-active) {
            background-color: #f7e3e3;
        }
        &.disabled {
            color: #00000045;
        }
        &:not(.disabled) {
            font-weight: bold;
        }
    }
    strong {
        font-weight: 600;
    }

    .mocking-state {
        margin-top: 50px;

        &>div:first-child {
            text-align: right;
            padding-right: 20px;
        }
    }
}

