<div class="backend-config">
    <h4>Connnessione agli end-point REST</h4>
    <br />
    <label>
      Gli <strong>indirizzi di produzione</strong> sono configurati nell'applicazione e <strong>non possono essere modificati</strong>.
      <br />
      Gli <strong>indirizzi di sviluppo possono essere modificati</strong> e memorizzati nello storage locale per indirizzare la macchina che espone i servizi in fase di sviluppo/test.
      <br />
      Quelli con <strong>sfondo verde</strong> sono gli indirizzi attivi mentre quelli con <strong>sfondo rosso</strong> sono quelli disattivati ma attivabili cliccando sul "check".
    </label>
    <br />
    <div class="row align-items-center hide-if-medium">
        <div class="col-12 col-md-3 form-group h-left-aligned-text h-no-padding"></div>
        <div class="row col-12 col-md-9 h-no-padding">
            <div class="col-12 col-md-6 form-group h-left-aligned-text h-no-padding h-no-margin h-center-aligned-text">
                <h6>Indirizzi di sviluppo</h6>
            </div>
            <div class="col-12 col-md-6 form-group h-left-aligned-text h-no-padding  h-no-margin h-center-aligned-text">
                <h6>Indirizzi di produzione</h6>
            </div>
        </div>
    </div>

    <!-- AUTENTICAZIONE -->
    <div class="row align-items-center">
      <div class="col-12 col-md-3 h-left-aligned-text left-label h-no-padding align-items-center">
        <h6>Autenticazione:</h6>
      </div>
      <div class="row col-12 col-md-9 h-no-padding">
        <div class="col-12 col-md-6 h-no-padding h-padding-left-5 align-items-center">
          <div class="form-group h-left-aligned-text">
            <div class="input-group">
              <input type= "text" class="form-control" [(ngModel)]="developmentAuthBackend" (ngModelChange)="developmentAuthBackendChanged($event)" [ngClass]="{'status-active':isDevelopmentAuthBackendActive()}" style="border-left: 0; border-right:0;" name="password" placeholder="development address" autocomplete="off">
              <div class="input-group-append">
                  <span class="input-group-text">
                      <a style="cursor: pointer" (click)="setDevelopmentAuthBackendActive(true)">
                          <fa-icon icon="check"></fa-icon>
                      </a>
                  </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 h-no-padding h-padding-left-5 align-items-center">
          <div class="form-group h-left-aligned-text">
            <div class="input-group">
              <input type= "text" disabled class="form-control disabled" [(ngModel)]="productionAuthBackend" [ngClass]="{'status-active':!isDevelopmentAuthBackendActive()}" style="border-left: 0; border-right:0;" name="password" placeholder="production address" autocomplete="off">
              <div class="input-group-append">
                  <span class="input-group-text">
                      <a style="cursor: pointer" (click)="setDevelopmentAuthBackendActive(false)">
                          <fa-icon icon="check"></fa-icon>
                      </a>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- APPLICATION -->
    <div class="row align-items-center">
      <div class="col-12 col-md-3 h-left-aligned-text left-label h-no-padding align-items-center">
        <h6>Application:</h6>
      </div>
      <div class="row col-12 col-md-9 h-no-padding">
        <div class="col-12 col-md-6 h-no-padding h-padding-left-5 align-items-center">
          <div class="form-group h-left-aligned-text">
            <div class="input-group">
              <input type= "text" class="form-control" [(ngModel)]="developmentApplicationBackend" (ngModelChange)="developmentApplicationBackendChanged($event)" [ngClass]="{'status-active':isDevelopmentApplicationBackendActive()}" style="border-left: 0; border-right:0;" name="password" placeholder="development address" autocomplete="off">
              <div class="input-group-append">
                  <span class="input-group-text">
                      <a style="cursor: pointer" (click)="setDevelopmentApplicationBackendActive(true)">
                          <fa-icon icon="check"></fa-icon>
                      </a>
                  </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 h-no-padding h-padding-left-5 align-items-center">
          <div class="form-group h-left-aligned-text">
            <div class="input-group">
              <input type= "text" disabled class="form-control disabled" [(ngModel)]="productionApplicationBackend" [ngClass]="{'status-active':!isDevelopmentApplicationBackendActive()}" style="border-left: 0; border-right:0;" name="password" placeholder="production address" autocomplete="off">
              <div class="input-group-append">
                  <span class="input-group-text">
                      <a style="cursor: pointer" (click)="setDevelopmentApplicationBackendActive(false)">
                          <fa-icon icon="check"></fa-icon>
                      </a>
                  </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- BLOG -->
    <div class="row align-items-center">
        <div class="col-12 col-md-3 h-left-aligned-text left-label h-no-padding align-items-center">
            <h6>Blog:</h6>
        </div>
        <div class="row col-12 col-md-9 h-no-padding">
            <div class="col-12 col-md-6 h-no-padding h-padding-left-5 align-items-center">
            <div class="form-group h-left-aligned-text">
                <div class="input-group">
                <input type= "text" class="form-control" [(ngModel)]="developmentBlogBackend" (ngModelChange)="developmentBlogBackendChanged($event)" [ngClass]="{'status-active':isDevelopmentBlogBackendActive()}" style="border-left: 0; border-right:0;" name="password" placeholder="development address" autocomplete="off">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <a style="cursor: pointer" (click)="setDevelopmentBlogBackendActive(true)">
                            <fa-icon icon="check"></fa-icon>
                        </a>
                    </span>
                </div>
                </div>
            </div>
            </div>
    
            <div class="col-12 col-md-6 h-no-padding h-padding-left-5 align-items-center">
            <div class="form-group h-left-aligned-text">
                <div class="input-group">
                <input type= "text" disabled class="form-control disabled" [(ngModel)]="productionBlogBackend" [ngClass]="{'status-active':!isDevelopmentBlogBackendActive()}" style="border-left: 0; border-right:0;" name="password" placeholder="production address" autocomplete="off">
                <div class="input-group-append">
                    <span class="input-group-text">
                        <a style="cursor: pointer" (click)="setDevelopmentBlogBackendActive(false)">
                            <fa-icon icon="check"></fa-icon>
                        </a>
                    </span>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>

    <div class="row align-items-center mocking-state">
      <div class="col-12 col-md-3 h-no-padding align-items-center">
        <h6>Modalità MOCK:</h6>
      </div>
      <div class="row col-12 col-md-9 h-no-padding">
        <div class="col-12 col-md-6 h-no-padding h-padding-left-5 align-items-center">
        <bSwitch
          [switch-on-color]="'primary'"
          [(ngModel)]="mockingState"
          (click)="toggleMockingState()"> Toggle is off
        </bSwitch>
        </div>
      </div>
    </div>



</div>

