<div *ngIf="origin=='assets'"[innerHTML] = "content | safeHtml"></div>
<div *ngIf="origin=='remote'" [innerHTML] = "content | markdown" (dblclick)="edit()" [ngClass]="{'editable-content':isOwner===true}"></div>