.demos-component {
    margin-top: 162px;

    @media screen and (max-width: 991px) {
        margin-top: 92px;
    }

    .panel-level-2 {
        min-height: 825px;
    }    
    .main-container {
        min-height: 900px;

        h1 {
            font-size:0.8em;
        }
    }
    .nav-link {
        font-size: 11px;
    }
}
.card-register {
    background-color: #b8c5c2dd;
    border-radius: 0;

    tree-node-checkbox {
        padding: 3px;
    }

    .practitioner {
        .node-content-wrapper:hover {
            background-color: #e385a9;
        }
        
        .node-content-wrapper-active.node-content-wrapper-focused {
            background-color: #000000aa;
        }
    }
}