.tech-design-component {
    margin-top: 162px;
    margin-bottom: 10px;

    @media screen and (max-width: 991px) {
        margin-top: 92px;
    }

    .panel-level-2 {
        min-height: 825px;
    }    
    .main-container {
        min-height: 900px;

        h1 {
            font-size:0.8em;
        }
    }
    .nav-link {
        font-size: 11px;
    }

    h1 {
        margin: 20px 0 5px;
    }
    h3 {
        background-color: #00000088;
        color: #ffffff;
        padding: 5px 10px;
        font-size: 1.6em;
        border-radius: 10px;
    }
}


