<div class="tech-design-component menu-wrapper content-min-height">
    <div class="container h-no-padding">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg bg-primary">
                    <div class="container">
                        <a class="navbar-brand">Tecnologie</a>
                        <div class="menu-collapse">

                            <div class="btn-group" dropdown>
                                <button id="button-disabled-item" dropdownToggle type="button"
                                    class="btn btn-primary dropdown-toggle" aria-controls="dropdown-disabled-item">
                                    tecnologie back-end<span class="caret"></span>
                                </button>
                                <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                    role="menu" aria-labelledby="button-disabled-item">
                                    <li role="menuitem"><a class="dropdown-item" href="#/tech/osgi">OSGi: Java
                                            framework</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href="#/tech/jaxrs">JAX RS: REST</a>
                                    </li>
                                    <li role="menuitem"><a class="dropdown-item" href="#/tech/mongodb">MongoDB</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href="#/tech/mqtt">MQTT</a></li>
                                </ul>
                            </div>

                            <div class="btn-group" dropdown>
                                <button id="button-disabled-item" dropdownToggle type="button"
                                    class="btn btn-primary dropdown-toggle" aria-controls="dropdown-disabled-item">
                                    tecnologie front-end<span class="caret"></span>
                                </button>
                                <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                    role="menu" aria-labelledby="button-disabled-item">
                                    <li role="menuitem"><a class="dropdown-item" href="#/tech/angular2">Angular2</a>
                                    </li>
                                    <li role="menuitem"><a class="dropdown-item"
                                            href="#/tech/nativescript">NativeScript</a></li>
                                </ul>
                            </div>

                            <div class="btn-group" dropdown>
                                <button id="button-disabled-item" dropdownToggle type="button"
                                    class="btn btn-primary dropdown-toggle" aria-controls="dropdown-disabled-item">
                                    infrastruttura <span class="caret"></span>
                                </button>
                                <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu" role="menu"
                                    aria-labelledby="button-disabled-item">
                                    <li role="menuitem"><a class="dropdown-item" href="#/tech/cloud">Infrastruttura
                                            cloud: Amazon AWS</a></li>
                                    <li role="menuitem"><a class="dropdown-item" href="#/tech/cloud">Notifiche PUSH:
                                            Google Firebase</a></li>
                                </ul>
                            </div>

                        </div>
                        <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                            data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                            aria-label="Toggle navigation" (click)="sidebarToggle()">
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                        </button>
                    </div>
                </nav>
            </div>
        </div>

        <div class="white-text-content margin-top-10">
            <app-content name="tech" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal"
                origin="remote"></app-content>
        </div>

        <div class="row py-2">
            <div class="col-12 mr-auto ml-auto">
                <div class="h-panel-level-2">

                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>
    </div>
</div>