<div class="administration-component menu-wrapper content-min-height">
    <div class="container h-no-padding">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg bg-primary">
                    <div class="container">
                        <a class="navbar-brand">Amministrazione</a>

                        <div class="menu-collapse">
                            <div class="btn-group" dropdown>
                                <button id="button-disabled-item" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                        aria-controls="dropdown-disabled-item">
                                        Configurazioni<span class="caret"></span>
                                </button>
                                <ul id="dropdown-disabled-item" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                    role="menu" aria-labelledby="button-disabled-item">
                                    <li role="menuitem"><a class="dropdown-item" href="#/administration/backend">REST end-points</a></li>
                                </ul>
                            </div>
                        </div>

                        <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                            data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
                            aria-label="Toggle navigation" (click)="sidebarToggle()">
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                            <span class="navbar-toggler-bar"></span>
                        </button>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row py-2">
            <div class="col-12 mr-auto ml-auto">
                <div class="panel-level-2">
                    <!-- ROUTING AREA LEVEL 2-->
                    <!-- -->
                    <router-outlet></router-outlet>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>