<div class="list">
    <h1>Lista dei post</h1>

    <div class="row filter">
      <div class="col-12 filter-header">Filtri</div>

      <div class="col-12 col-lg-6 d-flex align-items-stretch flex-row align-items-center topic-filter">
        <label class="d-flex align-items-center justify-content-end strong"><span>Blog:</span></label>
        <select [(ngModel)]="selectedIndex" [ngModelOptions]="{standalone: true}" class="form-control custom-select" name="blog" (change)="blogChanged($event.target.value)">
          <option [value]="-1">{{blogs.length>0?'':'Non ci sono blog'}}</option>
          <option *ngFor="let blog of blogs; let i = index" [value]="i" [selected]="selectedIndex? i === selectedIndex:false">{{blog.description}}</option>
        </select>
      </div>

      <div class="col-12 col-lg-6 d-flex align-items-stretch flex-row align-items-center search-string-filter">
        <label for="searchString" class="d-flex align-items-center justify-content-end strong"><i class="fa fa-search"></i></label>
        <input type="text" class="d-flex align-items-center form-control" name="searchString" placeholder=""
            [(ngModel)]="searchString" (ngModelChange)="fireFilterChanged($event)" autocomplete="off">
      </div>
    </div>

    <div class="content-row">

      <div class="content-row content-header-row">
        <div class="d-flex align-items-stretch flex-row align-items-center items-row">
          <div class="d-flex align-items-center px-2 edit-cell">&nbsp;</div>
          <div class="d-flex align-items-center px-2 date-cell">Data</div>
          <div class="d-flex align-items-center px-2 blog-cell">Blog</div>
          <div class="d-flex align-items-center px-2 name-cell">Nome</div>
          <div class="d-flex align-items-center px-2 title-cell">Titolo</div>
          <div class="d-flex align-items-center px-2 actions-cell">Azioni</div>
        </div>
      </div>
  
      <!-- LOOP ROWS-->
      <div *ngFor="let post of posts; let i = index" class="content-row" [ngClass]="{'unpublicated':!post.publicated}">

        <div class="d-flex align-items-stretch flex-row align-items-center items-row">
          <div class="d-flex align-items-center edit-cell px-2 py-1">
            <button type="button" class="btn btn-primary btn-just-icon h-btn-small-icon" placement="right" (click)="edit(post.uuid)">
              <i class="fa fa-pencil"></i>
            </button>
          </div>
          <div class="d-flex align-items-center date-cell px-2">{{post.date}}</div>
          <div class="d-flex align-items-center blog-cell px-2">{{post.blogTitle}}</div>
          <div class="d-flex align-items-center name-cell px-2">{{post.name}}</div>
          <div class="d-flex align-items-center title-cell px-2">{{post.title}}</div>

          <div class="d-flex align-items-center actions-cell px-2">
            <button type="button" class="btn btn-success btn-just-icon h-btn-small-icon"
              (click)="click()"><i class="fa fa-eye"></i></button>
            <button type="button" class="btn btn-danger btn-just-icon h-btn-small-icon"
              (click)="delete(post.uuid)"><i class="fa fa-times"></i></button>
          </div>
        </div>

      </div>

    </div>
  
  </div>
  

