.list {
    h1 {
        margin: 20px 0 0;
        font-size: 1.8em;
        font-weight: bold;
        text-align: center;
    }
    .unpublicated {
        background-color: #fffb9d7d;
    }
    .filter {
        margin: 20px 10px;
    
        &>div {
            padding: 0 0 10px;
        }
        label {
            width: 100px;
            margin-bottom: 0;
            font-weight: bold;
            background-color: #b4cfea57;
            padding-right: 10px;
            margin-left: 5px;
            border-radius: 15px 0 0 15px;
    
            i {
                font-size: 24px;
                margin-right: 5px;
            }
        }
        .filter-header {
            margin-left: 5px;
            font-size: 1.2em;
        }
        .topic-filter {
            input {
                width: 100%;
            }
        }
        select {
            height: 40px;
        }
        .form-control {
            border-radius: 0 4px 4px 0;
            border-left-width: 0;
        }
    }

    .content-row {
        .items-row {
            margin-bottom: 0;
            border-bottom: 1px solid #e5e5e5;
            padding-bottom: 0;
            font-size: 0.9em;
        
            &>div {
                border-right: 1px solid #e5e5e5;
                white-space: nowrap;
                overflow: hidden;
            }
            &>div:first-child {
                border-left: 1px solid #e5e5e5;
            }
        }
    }
    
    .content-header-row {
        background-color: #656565;
        color: #ffffff;
        font-size: 1.1em;
        font-weight: bold;
    
        .items-row {
            height: 50px;
        }
    }
    
    .d-flex {
        .items-header {
            background-color: #5e5e5e;
            
            >div {
                font-weight: bold;
                border-right: solid #ffffff 1px;
                color: #ffffff;
                &:last-child {
                    border-right: none;
                }
            }
        }
    
        .edit-cell {
            min-width: 41px;
            max-width: 41px;
        }
        .date-cell {
            min-width: 170px;
            max-width: 170px;
        }
        .blog-cell {
            min-width: 180px;
            max-width: 180px;
            font-weight: bold;
        }
        .name-cell {
            min-width: 180px;
            max-width: 180px;
            font-weight: bold;
        }
        .size-cell {
            width:100px;
        }
        .title-cell {
            width: 100%;
        }
        .actions-cell {
            min-width: 69px;
            max-width: 69px;
        }
    }
    
    .h-btn-small-icon {
        padding: 2px 0 0;
        width: 25px;
        min-width: 25px;
    
        &:last-child {
            margin-right: 0
        }
    }
}
