<div class="projects-area white-text-content">
    <div class="projects container content-min-height" role="main">
        <h1>I progetti di Salentopoli</h1>
        <p>
            In quest'area sono elencate le "idee progettuali" per Salentopoli.
            I progetti con sfondo giallo sono in fase di sviluppo. 
            <br />Le informazioni sui singoli progetti sono accessibili <strong>cliccando sul nome del progetto</strong>.
        </p>

        <accordion [isAnimated]="true" [closeOthers]="true">
            <accordion-group heading="Costituzione">
                <div [innerHTML]="costituzione | safeHtml" class="html"></div>
            </accordion-group>
            <accordion-group heading="Biblioteca" panelClass="step-1">
                <app-content name="biblioteca" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Linee del tempo" panelClass="step-1">
                <app-content name="timelines" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Teams">
                <app-content name="teams" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Green Lovers" panelClass="step-1">
                <app-content name="greenlovers" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Le mie classi">
                <app-content name="lemieclassi" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Buoni e cattivi">
                <app-content name="buoniecattivi" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Blogs" panelClass="step-2">
                <app-content name="blogs" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Video-pillole">
                <app-content name="videopillole" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Moduli">
                <app-content name="moduli" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Hackathons">
                <app-content name="hackatons" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="I colori di Salentopoli">
                <app-content name="colors" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Tech-challange">
                <app-content name="techchallange" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Incubatore d'impresa">
                <app-content name="incubatore" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Baratto">
                <app-content name="incubatore" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="@work">
                <app-content name="atwork" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Salentopolini nel mondo">
                <app-content name="salentopolininelmondo" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
            <accordion-group heading="Incontri e seminari tecnici">
                <app-content name="techmeetings" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
            </accordion-group>
        </accordion>
    </div>
</div>