.projects-area {
    background-color: #ffffffaa;
    padding-top: 150px;
    padding-bottom: 50px;

    @media screen and (max-width: 991px) {
        padding-top: 80px;
    }

    h1 {
        margin: 20px 0;
        font-size:2em;
        text-align: center;
    }
}
