h3 {
    font-size: 1.4em;
    font-weight: 600;
    margin: 10px 0;
}
h4 {
    font-size: 1.3em;
    margin:0;
}

.text {
    width: 100%;
    background-color: #FFFFFF;
    padding: 30px;
    color: #555555;
    min-height: calc(100vh - 172px) !important;

    .row {
        width: 100%;
    }
}

.buttons {
    background-color: #00000011;
    padding: 3px;
    border-radius: 21px;
    
    .btn {
        padding: 0;
    }
    fa-icon {
        font-size: 20px;
    }
}

.content-edit {
    .title {
        margin: 30px 0 10px;
    }

    span.content-title {
        font-size: 1.2em;
        font-weight: 600;
        margin-right: 5px;
    }
    
    span.content-origin {
        color: #666666;
        font-size: 1.2em;
    }
}

.content-view {
    strong {
        font-weight: 600;
    }
}

