<!--
<div [innerHTML] = "contentByURL | safeHtml"></div>
<div [innerHTML] = "contentByMatrix | safeHtml"></div>
-->

<div class="container content content-min-height content-management text">
    <div class="row">                    
        <div class="col-12 justify-content-end buttons">
            <button *ngIf="!editMode && isEditableContent()" type="button" class="btn btn-just-icon" [ngClass]="{'btn-success':isOwner, 'btn-primary':isOwner}" (click)="editContent()"><fa-icon icon="pencil-alt"></fa-icon></button>
            <button *ngIf="editMode" type="button" class="btn btn-just-icon" [ngClass]="{'btn-success':isOwner, 'btn-primary':isOwner}" (click)="showContent()"><fa-icon icon="file-alt"></fa-icon></button>
        </div>

        <div *ngIf="!editMode" class="col-12 content-view">
            <div [innerHTML] = "contentByAsset | markdown"></div>
        </div>

        <div *ngIf="editMode" class="col-12 content-edit">
            <!-- ========================== -->
            <div class="title">
                <span class="content-title">Modifica del contenuto:</span>
                <span class="content-origin">{{contentOrigin}}:{{contentTopic}}/{{contentName}}</span>
            </div>
            <div>
                <div class="form-group h-left-aligned-text">

                    <md-editor name="Content" 
                    [upload]="doUpload" 
                    [preRender]="preRenderFunc" 
                    [postRender]="postRenderFunc"
                    [(ngModel)]="contentByAsset" 
                    [height]="'500px'" 
                    mode="editor" 
                    [options]="options" 
                    (onEditorLoaded)="onEditorLoaded($event)"
                    (onPreviewDomChanged)="onPreviewDomChanged($event)"
                    required 
                    maxlength="500">
                    </md-editor>

                </div>

                <!-- BUTTON -->
                <div><button class="btn btn-primary btn-block btn-round" (click)="updateContent()">Aggiorna</button></div>
            </div>
            <!-- ========================== -->
        </div>
    </div>

</div>


