<div>
    <div (click)="sidebarToggle()" class="navbar close-menu">
        <div class="navbar-toggler navbar-burger">
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
        </div>
    </div>
    <ul class="navbar-nav ml-auto">
      <li *ngFor="let item of itemsLevel(1)" class="nav-item" [ngClass]="{'sub-level':item.sublevel}" >
        <a *ngIf="item.visibility && !item.group" [routerLink]="item.routerLink" [queryParams]="item.queryParams" class="nav-link">{{item.label}}</a>
        <a *ngIf="item.visibility && item.group" (click)="toggleGroup(item.group)" class="nav-link">{{item.label}}</a>
      </li>
    </ul>
    <ul *ngIf="itemsLevel(2).length>0" class="navbar-nav ml-auto level-2">
      <li class="nav-item level-header">{{getLabel(2)}}</li>
      <li *ngFor="let item of itemsLevel(2)" class="nav-item" [ngClass]="{'sub-level':item.sublevel}" >
        <a *ngIf="item.visibility && !item.group" [routerLink]="item.routerLink" [queryParams]="item.queryParams" class="nav-link">{{item.label}}</a>
        <a *ngIf="item.visibility && item.group" (click)="toggleGroup(item.group)" class="nav-link">{{item.label}}</a>
      </li>
    </ul>
</div>
