@media screen and (max-width: 991px) {
  .content {
    margin-top: 80px;
  }
}

.idea {
  font-weight: bold;
  margin-top: 7px;
}

div.left-side {
  //position: absolute;
  //top: 170px;
  //left: 18px;
  font-size: 0.9em;
}

div.right-side {
  //position: absolute;
  //top: 170px;
  //right: 18px;
  font-size: 0.9em;
}

h1 {
  margin: 20px 0;
}
h4 {
  margin: 10px;
}


div.post-it {
  color:#000;
  background:#ffc;
  display: table;
  padding: 1em;
  margin: 10px;
  padding:1em;
  max-width: 250px;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}

div.post-it:hover {
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}


.section {
  width: 100%;
}

.contattaci {
  background-color: #fffffff0;
  padding: 30px;
  border-radius: 25px;
  color: #000000;
  font-size: 1.1em;
  text-align: justify;

  .wip {
    text-align: center;
  }

  strong {
    font-weight: 600;

    &.background {
      color: #ffffff;
      background-color: #000000aa;
      padding: 0 5px;
    }

    &.yellow {
      background-color: #ffca08
    }
  }

  ul {
    padding-left: 0;
    margin-left: 15px;
  }
}