<div class="content-min-height content-margin-top headers-centered row no-gutters" role="main">
  <div class="col-2 d-none d-lg-block px-2"> 
    <div class="post-it"><fa-icon icon="thumbtack"></fa-icon><div>Salentopolini di tutto il mondo, unitevi!</div></div>
    <div class="post-it"><fa-icon icon="thumbtack"></fa-icon><div>Cittadini cercasi</div></div>
    <div class="post-it"><fa-icon icon="thumbtack"></fa-icon><div>Costruiamola insieme!</div></div>
  </div>

  <div class="col-lg-8 white-text-content px-4">
    <div class="margin-top-10 row">
      <div class="col-12 col-md-6 article">
        <app-content name="home" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
      
        <div class="d-none d-md-block d-lg-none">
          <app-pub-post-list></app-pub-post-list>
        </div>

        <div class="small-article">
          <app-content name="greenlovers-spot" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
        </div>

        <div class="small-article">
          <app-content name="simpletextexample2" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
        </div>

      </div>
      <div class="col-12 col-md-6 small-article">
        <app-pub-post uuid="c4fcff41-36cf-41f5-a91a-5c33e4c714e1"></app-pub-post>
        <app-content name="timelines-spot" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
        <app-content name="biblioteca-spot" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
        <app-content name="thefuturewewant" owner="902e1fb1-2dfe-4686-a3f8-a1689d5f7b89" topic="/contents/personal" origin="remote"></app-content>
      </div>
    </div>

    <div class="section landing-section">
      <app-contact [attachmentEnabled]="false"></app-contact>
    </div>
  </div>

  <div class="col-2 d-none d-lg-block px-2"> 
    <app-pub-post-list></app-pub-post-list>
  </div>
</div>