<div class="wrapper">
    <div class="row">
      <div class="col-12">
        <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
          [uploader]="uploader" class="well my-drop-zone row no-gutters align-items-center">
          <div class="col">trascinare qui il file o cliccare su "{{selectedFile()?'Cambio':'Scelta'}} dell'immagine"</div>
          <div class="col-auto">
            <label class="btn custom-input-btn">
              <input type="file" ng2FileSelect [uploader]="uploader" name="picture" style="display:none" accept="*" />
              <i class="fa fa-cloud-upload"></i> {{selectedFile()?'Cambio':'Scelta'}} dell'immagine
            </label>
          </div>
          <div class="col-auto" style="padding-left: 20px;">
            <div *ngIf="selectedFile() && isNoDetailsMode()">
              <button type="button" class="btn btn-success btn-just-icon h-btn-small-icon"
                (click)="uploader.queue[0].upload()"
                [disabled]="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess"><i
                  class="fa fa-cloud-upload"></i></button>
              <button type="button" class="btn btn-warning btn-just-icon h-btn-small-icon"
                (click)="uploader.queue[0].cancel()" [disabled]="!uploader.queue[0].isUploading"><i
                  class="fa fa-times"></i></button>
              <button type="button" class="btn btn-danger btn-just-icon h-btn-small-icon" (click)="remove(0)"><i
                  class="fa fa-times"></i></button>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="!isNoDetailsMode()" class="col-12" style="margin-bottom: 20px">
        <div class="d-flex flex-column">
          <div *ngFor="let item of uploader.queue; let i = index" class="items-row">
            <!-- ROW -->
            <!--------->
            <div class="d-flex flex-row align-items-center">
              <div style="width: 45px;">
                <button type="button" class="btn btn-info btn-just-icon h-btn-small-icon" (click)="setVisible(i)"><i
                    class="fa fa-file-text-o"></i></button>
              </div>
              <div class="p-2 file-name"><strong>{{ item?.file?.name }}</strong></div>
              <div class="p-2" style="width:160px;">{{ item?.file?.size/1024/1024 | number:'.2' }} MB</div>
              <div class="p-2" style="width:100px;">
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                </div>
              </div>
              <!-- actions -->
              <div style="width: 135px;">
                <button type="button" class="btn btn-success btn-just-icon h-btn-small-icon" (click)="item.upload()"
                  [disabled]="item.isReady || item.isUploading || item.isSuccess"><i
                    class="fa fa-cloud-upload"></i></button>
                <button type="button" class="btn btn-warning btn-just-icon h-btn-small-icon" (click)="item.cancel()"
                  [disabled]="!item.isUploading"><i class="fa fa-times"></i></button>
                <button type="button" class="btn btn-danger btn-just-icon h-btn-small-icon" (click)="remove(i)"><i
                    class="fa fa-times"></i></button>
              </div>
            </div>
  
            <!-- DETAILS -->
            <!------------->
            <div class="h-details" [hidden]="!isVisible(i)">
              <div class="form-group h-left-aligned-text">
                <label for="info" class="strong">Descrizione:</label>
                <textarea class="form-control" [name]="'description'+i" placeholder="Descrizione del file"
                  [(ngModel)]="items[i].description"></textarea>
              </div>
              <div class="form-group h-left-aligned-text">
                <label for="lastName" class="strong">Tags:</label>
                <input type="text" class="form-control" name="tags" placeholder="Inserire i tags, separati da virgole"
                  [(ngModel)]="items[i].tags" autocomplete="off">
              </div>
              <div class="d-flex flex-column h-left-aligned-text">
                <label for="topic" class="strong">Topic:</label>
                <div class="d-flex flex-row align-items-center h-header">
                  <div class="h-left-aligned-text">{{topic+'/'}}</div>
                  <div class="h-left-aligned-text" style="margin-left:8px; width:100%;">
                    <input type="text" class="form-control" name="topic" placeholder="Inserire un eventuale sub-topic"
                      [(ngModel)]="items[i].topic" autocomplete="off">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div *ngIf="uploader?.queue?.length>0">
          <div class="row">
            <div class="progress">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
            </div>
          </div>
  
          <div *ngIf="uploader?.queue?.length>1" style="text-align: center;margin-top: 20px">
            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
              [disabled]="!uploader.getNotUploadedItems().length">
              Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
              [disabled]="!uploader.isUploading">
              Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
              [disabled]="!uploader.queue.length">
              Remove all
            </button>
          </div>
        </div>
      </div>
  
      <div *ngIf="uploader.queue.length>0" class="col-12">
        Per caricare l'immagine selezionata <strong>cliccare sul pulsantino verde</strong>.
      </div>
    </div>
  </div>
