.pub-post {
    line-height: 1.5em;
    
    h1 {
        font-size:1.1em;
    }
    a {
        color: #000000;
    }

    .post-row, .post-cell, .username-cell, .header-cell {
          width: 100%;
    }
    .post-row {
        background-color: #eeeeee;
        border-radius: 20px;
        padding: 3px 0;
        margin-bottom: 10px;
    }
    .post-cell {
        font-size: 0.8em;
        margin-left: 5px;
    }
    .date-cell {
        font-size: 0.8em;
        font-weight: bold;
        padding-left: 5px;
    }
    .username-cell {
        font-size: 0.8em;
        padding-right: 15px;
        font-weight: bold;
        font-style: oblique;
        color: #c7c7c7;
    }
    .title-cell {
        font-size: 1.0em;
    }
    .picture-cell {
        font-size: 1.0em;
        width: 50px;

        img {
            margin-bottom: 0;
        }
    }
}