<div class="pub-post">
    <h1>{{blogTitle}}</h1>

    <div class="post-row d-flex align-items-stretch flex-row align-items-center items-row">
        <div class="avatar d-flex picture-cell">
            <a href="#/profile">
                <img src={{getPictureUrl()}} onerror="this.src='./assets/images/no-picture.png'" alt="picture"
                    class="img-circle img-no-padding img-responsive h-img-bordered">
            </a>
        </div>
        <div class="d-flex flex-row header-cell">
            <div class="d-flex align-items-center date-cell">{{getDate()}}</div>
            <div class="d-flex align-items-center justify-content-end username-cell">{{post?post.owner?post.owner.username:'':''}}</div>
        </div>
    </div>

    <div [innerHTML] = "content | markdown"></div>
    <div><a href="#/blog-view;uuid={{blogUuid}}">{{blogTitle}} [{{post?post.owner?post.owner.username:'':''}}]</a></div>
</div>
