<div>
    <div class="nav-tabs-navigation">
        <div class="nav-tabs-wrapper">
            <tabset>
                <tab heading="Testi">

                    <!-- TABSET -->
                    <!-- ====== -->
                    <tabset>
                        <tab heading="Lista">
                            <app-contents-list topic="/contents/personal" type="text"></app-contents-list>
                        </tab>
                        <tab heading="Nuovo testo">
                            <app-text-content-editor topic="/contents/personal"></app-text-content-editor>
                        </tab>
                    </tabset>
                    <!-- ====== -->

                </tab>
                <tab heading="Immagini">

                    <!-- TABSET -->
                    <!-- ====== -->
                    <tabset>
                        <tab heading="Lista immagini" (selectTab)="onSelect($event)">
                            <ng-container *ngIf="selectedTab == 'Lista immagini'">            
                                <app-contents-list topic="/contents/personal" type="image"></app-contents-list>
                            </ng-container> 
                        </tab>
                        <tab heading="Nuova immagine" (selectTab)="onSelect($event)">
                            <ng-container *ngIf="selectedTab == 'Nuova immagine'">
                                <app-image-content-upload url="/core/1.0/users/UUID/contents?type=picture"
                                topic="/contents/personal"></app-image-content-upload>
                            </ng-container>
                        </tab>
                    </tabset>
                    <!-- ====== -->

                </tab>
                <tab heading="Video">
                    <h5>Under construction</h5>
                </tab>
                <tab heading="Altri file">
                    <h5>Under construction</h5>
                </tab>

            </tabset>

        </div>
    </div>
</div>