<div class="text-content-editor">

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h3>{{uuid?'Modifica':'Nuovo'}}&nbsp;post</h3>
                <h5>{{post.uuid}}</h5>
            </div>
            <div class="col-12 col-md-6 form-group">
                <label>Selezione blog</label>
                <select [(ngModel)]="selectedIndex" [ngModelOptions]="{standalone: true}" class="form-control custom-select" name="blog" (change)="blogChanged($event.target.value)">
                    <option [value]="-1">{{blogs.length>0?'Selezionare un blog dalla lista':'Non ci sono blog'}}</option>
                    <option *ngFor="let blog of blogs; let i = index" [value]="i" [selected]="selectedIndex? i === selectedIndex:false">{{blog.description}}</option>
                </select>
            </div>
        </div>
        <div *ngIf="selectedIndex>=0" class="row">

            <div class="col-12 col-md-4 form-group">
                <label for="date" class="strong">Data:</label>
                <input type="text" [(ngModel)]="post.date" placeholder="Datepicker" class="form-control" bsDatepicker [bsConfig]="{dateInputFormat: 'D/MM/YYYY'}">
            </div>

            <div class="col-12 col-md-8 form-group">
                <label for="title" class="strong">Titolo:</label>
                <input type="text" class="form-control" name="title" placeholder="titolo del post"
                    [(ngModel)]="post.title" autocomplete="off">
            </div>
            
            <div class="col-12 col-md-6 form-group tags">
                <label for="tags" class="strong">Tags:</label>
                <input type="text" class="form-control" name="tags" placeholder="inserire uno o più tag separati da virgole"
                    [(ngModel)]="post.tags" autocomplete="off">
            </div>

            <div class="col-12 col-md-6 form-group tags">
                <label for="banner" class="strong">Banner:</label>
                <input type="text" class="form-control" name="tags" placeholder="banner"
                    [(ngModel)]="post.banner" autocomplete="off">
            </div>

            <div class="col-12 col-md-4 form-group tags">
                <label for="name" class="strong">Nome:</label>
                <input type="text" class="form-control" name="name" placeholder="categoria"
                    [(ngModel)]="post.name" autocomplete="off">
            </div>

            <div class="col-12 col-md-8 form-group tags">
                <label for="description" class="strong">Descrizione:</label>
                <input type="text" class="form-control" name="description" placeholder="categoria"
                    [(ngModel)]="post.description" autocomplete="off">
            </div>

            <div class="col-12 form-group">
                <label for="content" class="strong">Testo (markdown)</label>
                <md-editor name="content" 
                [upload]="doUpload" 
                [preRender]="preRenderFunc" 
                [postRender]="postRenderFunc"
                [(ngModel)]="post.body" 
                [height]="'500px'" 
                mode="editor" 
                [options]="options" 
                (onEditorLoaded)="onEditorLoaded($event)"
                (onPreviewDomChanged)="onPreviewDomChanged($event)"
                required>
                </md-editor>
            </div>

        </div>

        <!-- BUTTON -->
        <div *ngIf="selectedIndex>=0" class="row">
            <div class="col-12 d-flex flex-row justify-content-center buttons">
                <button *ngIf="!uuid" class="btn btn-primary btn-block btn-round" style="max-width: 300px; display: initial;" (click)="create()">Aggiungi</button>
                <button *ngIf="uuid" class="btn btn-primary btn-block btn-round" style="max-width: 300px; display: initial;" (click)="update()">Modifica</button>
            </div>
        </div>

    </div>

</div>



