.navbar-transparent {
    background: #150808a3  !important;
}

.navbar-top {
    width: 100%;
    height: 76px;
    background-color: #000000;
    z-index: inherit;
}


.navbar-high {
    background: #15080888;
}
.navbar-low {
    background: #150808;
}


.navbar {
    .logo-image {
        width: 165px;
        margin: 0;
    }
    .nav-link {
        color: #ffffff;
        &.icon {
            font-size:30px;
            padding:0 15px;
        }
    }
    button {
        position: relative;
    }
}

.navbar-brand.brand-name {
    margin: 3px 0 0 10px;
    padding: 0;
    font-weight: initial;
    font-size: 12px;
}

.navbar-translate {
    width: 100%;
    >div {
        width: 100%;
    }
    a.social {
        color: #ffffff;
        font-size: 25px;
        position: relative;
    }
    .top-commands {
        font-size: 30px;
        color: #ffffff;

        >div {
            margin-left: 10px;
        }

        a {
            color:#ffffff;
        }

        .disabled {
            color:#ffffffaa;
        }
    }
}
.fixed-top:not(.navbar-transparent) {
    .navbar-brand {
        color: #5b5d63;
    }
}

.container {
    height: 100%;
    &>div {
        height: 100%;
        &>div {
            height: 100%;
        }
    }
}

.profile {
    color:#ffffff;
    padding-left: 10px;

    .user-fullname {
        font-weight: 600;
    }

    .commands {
        div:first-child {
            margin-right: 10px;
        }
        a {
            color: #ffffff;
            opacity: .8;
            font-size: 0.8em;;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;

            span {
                margin-left: 3px;
            }

        }
    
    }
}

.building {
    display: inline-block;
    position: absolute;
    width: 15px;
    background-color: rgb(random(200), random(200), random(200));
    z-index: -1;
    border-right: 1px solid #000000;
}

.logo {
    position: relative;

    a {
        position: relative;
        top: 8px;
        display: block;
    }
}

.building-0 {
    height: 46px;
    left: 0;
    top: 6px;
}

.building-1 {
    height: 20px;
    left: 15px;
    top: 32px;
}

.building-2 {
    height: 36px;
    left: 30px;
    top: 16px;
}

.building-3 {
    height: 28px;
    left: 45px;
    top: 24px;
}

.building-4 {
    height: 46px;
    left: 60px;
    top: 6px;
}
.building-5 {
    height: 28px;
    left: 75px;
    top: 24px;
}
.building-6 {
    height: 20px;
    left: 90px;
    top: 32px;
}

.building-7 {
    height: 36px;
    left: 105px;
    top: 16px;
}
.building-8 {
    height: 28px;
    left: 120px;
    top: 24px;
}
.building-9 {
    height: 46px;
    left: 135px;
    top: 6px;
}
.building-10 {
    height: 46px;
    left: 150px;
    top: 6px;
}

.bar {
    display: inline-block;
    position: absolute;
    width: 164px;
    height: 15px;
    background-color: #e7e7e7;
    z-index: -1;
    top: 53px;
    left: 0px;
}