<nav class="navbar navbar-high navbar-expand-lg fixed-top flex-column" color-on-scroll="500">
    <div class="fixed-top h-message-scroller" [hidden]="!isMessageAreaVisible">{{lastMessage}}</div>

    <div class="navbar-top">
        <div class="px-2">
            <div class="navbar-translate">
                <div class="d-flex flex-row align-items-start">
                    <div class="logo">
                        <div class="building building-0 dynamic-background-color"></div>
                        <div class="building building-1 dynamic-background-color"></div>
                        <div class="building building-2 dynamic-background-color"></div>
                        <div class="building building-3 dynamic-background-color"></div>
                        <div class="building building-4 dynamic-background-color"></div>
                        <div class="building building-5 dynamic-background-color"></div>
                        <div class="building building-6 dynamic-background-color"></div>
                        <div class="building building-7 dynamic-background-color"></div>
                        <div class="building building-8 dynamic-background-color"></div>
                        <div class="building building-9 dynamic-background-color"></div>
                        <div class="building building-10 dynamic-background-color"></div>

                        <div class="bar dynamic-background-complementar-color"></div>
                       
                        <a class="navbar-brand-image" href="#/landing">
                            <img class="logo-image" src="./assets/images/logo-foreground.png" alt="logo">
                        </a>
                    </div>
                    <div class="profile d-flex flex-column align-self-center align-items-start" style="width: 100%;">
                        <div *ngIf="userService.isUserLogged()" class="d-flex flex-row align-items-center full-name">
                            <div class="user-fullname">{{userService.getFullName()}}</div>
                        </div>
                        <div class="d-flex flex-row align-items-center commands">
                            <div *ngIf="userService.isUserLogged()">
                                <a href="#/profile" class="d-flex flex-row align-items-center">
                                    <fa-icon icon="user-circle"></fa-icon>
                                    <span>Profilo</span>
                                </a>
                            </div>
                            <div *ngIf="userService.isUserLogged()">
                                <a (click)="logout()" class="d-flex flex-row align-items-center">
                                    <fa-icon icon="sign-out-alt"></fa-icon>
                                    <span>Log-out</span>
                                </a>
                            </div>
                            <div *ngIf="!userService.isUserLogged()">
                                <a href="#/signup" class="d-flex flex-row align-items-center">
                                    <fa-icon icon="sign-in-alt"></fa-icon>
                                    <span>Sign-in</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="hide-if-small-mode align-self-center">
                        <div class="top-commands d-flex flex-row justify-content-end align-self-center">
                            <div><a href="#/whoweare"><fa-icon icon="question-circle"></fa-icon></a></div>
                            <div class="disabled"><fa-icon icon="cog"></fa-icon></div>
                            <div class="disabled"><fa-icon icon="stream"></fa-icon></div>
                        </div>
                    </div>
                </div>

                <!--
                <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
                -->
            </div>

            <!-- MENU LATERALE -->
            <!-- ============= -->
            <div class="navbar-collapse" id="navbarToggler">
                <div class="navbar-nav ml-auto">
                    <app-collapsed-menu></app-collapsed-menu>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex h-nav-menu" *ngIf="isLargeSize()">
        <ul class="navbar-nav container">
            <li class="nav-item">
                <a [routerLink]="['/whoweare']" class="nav-link icon"><fa-icon icon="question-circle"></fa-icon></a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/tech']" class="nav-link icon"><fa-icon icon="user-cog"></fa-icon></a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/landing']" class="nav-link">Home</a>
            </li>
            <li *ngIf="userService.isUserInOneOfRoles('admin')" class="nav-item">
                <a [routerLink]="['/administration/backend']" class="nav-link">Amministrazione</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/content-by-url']" [queryParams]="{name:'costituzione',origin:'remote',owner:'902e1fb1-2dfe-4686-a3f8-a1689d5f7b89'}" class="nav-link">Costituzione</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/projects']" class="nav-link">Progetti</a>
            </li>
            <li *ngIf="userService.isUserInOneOfRoles('admin')" class="nav-item">
                <a [routerLink]="['/demo']" class="nav-link">Demo</a>
            </li>
            <li *ngIf="userService.isUserInOneOfRoles('admin,tester')" class="nav-item">
                <a [routerLink]="['/blog/post-list']" class="nav-link">Blog</a>
            </li>
        </ul>
    </div>
</nav>
