h1 {
    margin: 20px 0;
}

.text {
    background-color: #fffffff0;
    padding: 30px;
    border-radius: 25px;
    color: #000000;
    font-size: 1.1em;
    text-align: justify;
  
    .wip {
      text-align: center;
    }
  
    strong {
      color: #ffffff;
      background-color: #000000aa;
      padding: 0 5px;
  
      &.yellow {
        background-color: #ffca08
      }
    }
    i{
        background-color: #ccccccaa;
    }
}

.wip {
    margin-top: 30px;
}