<div class="content content-min-height" role="main">
    <h1>un'idea: Salentopoli</h1>

    <div class="white-text-content">
        <p>
            Sono il primo salentopolino, il mio nome &egrave; Paolo ma come salentopolino sono <em>Pel</em>.
        </p>
        <p>
            <strong>Salentopoli</strong> &egrave; nella mia testa da ormai qualche anno: &egrave; un luogo
            fantastico della mia mente, <i>un luogo popolato da abitanti sorridenti, gentili, aperti e accoglienti, colorati</i>; non sar&agrave; 
            forse la famosa "<em>isola che non c'è</em>"? 
            <br />Forse. E forse resterò l'unico abitante, forse uno dei pochi: se così sar&agrave; vorr&agrave; dire che Salentopoli rester&agrave; un 
            luogo della mia anima e dei pochi che vorranno farne parte. Ma sarò felice di averci provato. Provato cosa? a piantare la prima pietra di una "città" nuova, la mia città, la nostra. 
        </p>
        <p>
            Partiamo dal nome: "Salentopoli". E' una dichiarazione d'amore per la mia terra, un riconoscimento di identità. 
            E' un richiamo ai miei conterranei, ai "salentopolini", a chi si sente parte viva, attiva di questa parte di mondo.
            Salentopoli però non sarà mai un simbolo di ostentazione di un'appartenenza a un luogo, perchè non avrà confini!
            Salentopoli vorrà essere un simbolo, sì, ma il simbolo di un luogo qualunque del mondo, di ogni luogo reso bello dalla sua gente e pronto 
            ad accogliere gente di altri luoghi: <i>un inno alla diversità che unisce e mai alla diversità che divide</i>.
            Farà dell'essere "virtuale" la sua forza, non la sua debolezza; anche perchè il suo essere virtuale dovrà rafforzare la capacità di... non esserlo,
            perchè il suo obiettivo sarà proprio quello di avvicinare le persone nel mondo reale.    
            Credo infatti che il principale dovere di ognuno di noi debba essere quello di <i>rendere migliore il luogo in cui vive,
            con il proprio lavoro, con il proprio senso e il proprio impegno sociale</i>.
        </p>
        <p>
              E allora: si parte! Io sono un grande appassionato di tecnologie e un... discreto esperto di cose informatiche. Il mio lavoro di tecnico
              ma soprattutto la mia grande passione per l'informatica unita a quella del mio grande amico Luca (non ha ancora un nome salentopolino!) hanno reso possibile
              la realizzazione di una <i>piattaforma software</i> che immodestamente definiamo "moderna" essendo stata sviluppata con l'uso delle più attuali tecnologie
              del cloud. Con questa nostra piattaforma tecnologica abbiamo iniziato a "montare" <i>salentopoli.it</i> e la useremo per sperimentare
              i nuovi servizi e le innovazioni che introdurremo nel tempo. 
        </p>

        <p>
            Non sono solo un tecnico "praticante" ma anche un <strong>docente di informatica</strong> e per questo mi piacerebbe coinvolgere nel progetto tanti colleghi del territorio offrendo loro servizi per la didattica da proporre ai loro studenti... e non solo ai loro!
            <br />A colleghi <i>tecnici e docenti delle discipline tecniche</i> sia delle scuole superiori che delle università, a <i>studenti "tecnici" di ogni grado</i> rivolgo
            anche il mio invito a fare di Salentopoli un luogo di confronto, di sfida, di sperimentazione delle tante tecnologie che continuamente vengono alla ribalta:
            potranno nascere occasioni di collaborazione, di compartecipazione a progetti comuni, di organizzazione condivisa di meeting e seminari tecnici e... tanto ancora.         
        </p>
        <p>
              Che ve ne pare? ;)
        </p>
        <p>

            <strong>Pel</strong>
        </p>

    </div>

</div>

