Salentopoli è un luogo virtuale i cui utenti registrati si definiscono "cittadini di Salentopoli".
<br />Il diritto di "cittadinanza" comporta il dovere del rispetto della Costituzione di Salentopoli consistente in alcuni
articoli che stabiliscono i principi che regolano la partecipazione alla vita sociale.
<br />Il mancato rispetto delle regole è sanzionato con l'espulsione dalla comunità, espulsione decretata nei modi e nelle forme stabiliti dalla Costituzione stessa.
<br /><strong>La Costituzione ha un carattere dinamico</strong>: nella prima fase una "Costituente", composta dai fondatori di Salentopoli,
approva la prima stesura di tutti gli articoli e attiva la Costituzione.
<br />La "dinamicità" della Costituzione consiste in un meccanismo di <strong>emendabilità e integrabilità degli articoli</strong> basato sulla sperimentazione di un
<strong>"principio di partecipazione"</strong>.
<br />La definizione di "principio di partecipazione" è data in uno specifico articolo della Costituzione (dunque anche esso emendabile) 
che definisce il criterio con cui il peso nelle decisioni di "governance" di ogni cittadino è calcolato con una formula che tiene in considerazione
vari elementi, quantificabili, caratterizzanti la partecipazione del cittadino alla vita sociale di Salentopoli.
<br />L'idea di base è che ogni "azione partecipativa" di un cittadino venga "valorizzata" in base a fattori come, per esempio, 
la ricaduta sulla qualità di vita sociale (calcolata sulla base di alcuni "quantificatori") e il consenso da parte della comunità. 
<br />L'obiettivo è quello di sperimentare una sorta di "<strong>auto-regolazione</strong>" in grado di fare prosperare la comunità, orientandone l'evoluzione.
<p>
    Il progetto tecnico "Costituzione" prevede lo sviluppo di:
    <ul>
        <li>
            strumenti a supporto dei meccanismi di valutazione;
        </li>
        <li>
            strumenti a supporto dei meccanismi di votazione palese e segreta: si applicano tecnologie (per esempio le "block-chain") utili
            a garantire la segretezza, quando richiesta, e l'inattaccabilità dei voti.
        </li>
        <li>
            gestione della "governance": governo e commissioni;
        </li>
        <li>
            gestione dell'"impeachment": strumento utilizzabile dalla comunità per revocare il mandato a un organo della governance oppure a un suo singolo componente.
        </li>
    </ul>
</p>