"<strong>Timeline</strong>" è un'applicazione pensata per consentire agli utenti di creare linee del tempo sulle quali 
posizionare sequenze di eventi storici di interesse. 
<br />Ogni evento ha un titolo, una descrizione, una data oppure una coppia di date inizio/fine, un'immagine e altri elementi descrittivi tra
cui link verso risorse esterne, ecc. 
<br />La linea è "zoomabile" quindi la densità di eventi può essere arbitraria. 
<br />Ogni linea del tempo può essere associata a una specifica area geografica (USA, Francia, Germania, Inghilterra, ecc.) 
diventando uno strumento utile arafforzare una "vista di insieme" che spesso, a mio parere, è difficile fissare nella mente.
