CANCELLAZIONE DEFINITIVA DEI DATI UTENTE
<div style="text-align: left;">
    <p>
        Salentopoli.it, quale titolare del trattamento, informa che nel caso di conferma della cancellazione
        si procederà:
        <ul>
            <li>all'eliminazione dei dati personali indicati nel profilo utente;</li>
            <li>
                all'anonimizzazione di tutte le informazioni utili all'identificazione dell'utente.
            </li>
        </ul>  
    </p>
    <p>
        <strong>Si informa che il processo di cancellazione è IRREVERSIBILE</strong> e dunque non sarà in alcun modo possibile ripristinare il profilo cancellato.
    </p>
</div>
