.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f1eae052;
    border: 1px solid #F1EAE0;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    margin: 0;
}
.my-drop-zone { border: dashed 1px #d7cec1; }
.nv-file-over { border: dashed 1px rgb(0, 119, 255); background-color:#c8e3ee33 } /* Default class applied to drop zones on over */

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.h-btn-small-icon {
    padding: 2px 0 0;
    width: 25px;
    min-width: 25px;
}

.h-details {
    padding: 10px;
    background-color: aliceblue;
    margin-top: 5px;
    label {
        font-weight: bold;
        float: left;
    }
}

.items-row {
    margin-bottom: 5px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;

    &:first-child {
        margin-top: 15px;
        border-top: 1px solid #e5e5e5;
        padding-top: 5px; 
    }

    .file-name {
        font-size: 0.8em;
    }

    .file-size {
        font-size: 0.8em;
    }
}

label {
    margin: 0;
    float: right;
}