<div class="modal-header">
    <h5 class="modal-title text-center">Work in progress</h5>
    <button type="button" class="close" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">{{text}}</div>
<div class="modal-footer">
    <button type="button" autofocus class="btn btn-default btn-link" (click)="bsModalRef.hide()">chiudi la finestra</button>
</div>