<div class="modal-header">
    <h5 class="modal-title text-center">Informativa sulla privacy</h5>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body h-modal-privacy">
    <div [innerHTML] = "text | safeHtml"></div>
</div>
<div class="modal-footer">
    <button type="button" autofocus class="btn btn-default btn-link" (click)="onConfirm()">ho letto l'informativa</button>
</div>