<div class="wrapper">
    <div class="content content-min-height">
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-sm-10 mr-auto ml-auto">
                        <div class="card card-register">
                            <h3 class="title">Accesso / registrazione</h3>
                            <!--
                            <div class="social-line text-center">
                                <a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                                <a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                            -->
                            <form class="register-form">
                                <!-- EMAIL -->
                                <label>Email</label>
                                <div class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <fa-icon icon="envelope"></fa-icon>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control" name="email" placeholder="Email" [(ngModel)]="userEmail" (ngModelChange)="emailChanged($event)" autocomplete="off">
                                </div>

                                <!-- PASSWORD -->
                                <label *ngIf="isLoggingIn || isSigningin">Password</label>
                                <div *ngIf="isLoggingIn || isSigningin" class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <fa-icon icon="key"></fa-icon>
                                        </span>
                                    </div>
                                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" [ngClass]="{'text-danger':!validPassword}" name="password" placeholder="Password" [(ngModel)]="userPassword" (ngModelChange)="passwordChanged()" autocomplete="off">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <a (click)="changeShowPassword()" style="cursor: pointer">
                                                <fa-icon *ngIf="showPassword" icon="eye-slash"></fa-icon>
                                                <fa-icon *ngIf="!showPassword" icon="eye"></fa-icon>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                                <div *ngIf="passwordValidationMessages" class="h-password-error">
                                    <div>La password deve contenere:</div>
                                    <ul>
                                        <li *ngFor="let message of passwordValidationMessages">{{message}}</li>
                                    </ul>
                                </div>
                                
                                <!-- REPASSWORD -->
                                <label *ngIf="isSigningin">Confirmed password</label>
                                <div *ngIf="isSigningin" class="input-group form-group-no-border">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <fa-icon icon="key"></fa-icon>
                                        </span>
                                    </div>
                                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" [ngClass]="{'text-danger':!validPasswords}" name="confirmPassword" placeholder="Password" [(ngModel)]="userConfirmPassword" (ngModelChange)="passwordsChanged()" autocomplete="off">
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <a (click)="changeShowPassword()" style="cursor: pointer">
                                                <fa-icon *ngIf="showPassword" icon="eye-slash"></fa-icon>
                                                <fa-icon *ngIf="!showPassword" icon="eye"></fa-icon>
                                            </a>
                                        </span>
                                    </div>
                                </div>

                                <div *ngIf="isSigningin">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" value="" [(ngModel)]="privacy" [ngModelOptions]="{standalone: true}" />
                                          Ho letto l'informativa sulla privacy
                                          <span class="form-check-sign"></span>
                                        </label>
                                    </div>
                                </div>

                                <div *ngIf="privacy">
                                    <div *ngFor="let privacyFlag of privacyFlags; let i = index" class="form-check">
                                        <label class="form-check-label">
                                          <input class="form-check-input" type="checkbox" value="" [(ngModel)]="privacyFlag.value" [ngModelOptions]="{standalone: true}" />
                                          {{privacyFlag.description}}
                                          <span class="form-check-sign"></span>
                                        </label>
                                        <button class="btn btn-secondary btn-sm active" role="button" aria-pressed="true" (click)="open()">leggi</button>
                                    </div>
                                    <div *ngIf="!privacyAcceptance()" class="privacy-acceptance">L'accettazione delle opzioni (*) è obbligatoria</div>
                                </div>

                                <!-- BUTTON -->
                                <button *ngIf="getTextButton()!==''" class="btn btn-dark btn-block btn-round" (click)="action()">{{getTextButton()}}</button>
                            </form>
                            <div *ngIf="isLoggingIn" class="forgot">
                                <a class="btn btn-link btn-primary" (click)="forgottenPassword()">Forgot password?</a>
                            </div>
                      </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;{{nowDate | date: 'yyyy'}}, by Salentopoli</h6>
                </div>
            </div>
    </div>
</div>

