<div class=" view-blog-area content content-min-height content-margin-top headers-centered" role="main">
    <div class="content-min-height" role="main">
        <div class="banner">
            <img *ngIf="blog.banner && blog.banner!=''" [src]="blog.banner" class="banner" alt="banner" />
        </div>
        <div class="blog-header container">
            <div class="row">
                <div class="col-6">
                    <div class="title">
                        <div *ngIf="blog && blog.owner && blog.owner.username" class="subtitle">I blog di <span>{{blog?blog.owner?blog.owner.username?blog.owner.username:blog.owner.firstName+' '+blog.owner.lastName:'':''}}</span>:</div>
                        <span>{{blog.title}}</span>
                    </div>
                 </div>
                <div *ngIf="blog.owner" class="col-6 owner">
                    <a>
                        <img src={{getPictureUrl()}} onerror="this.src='./assets/images/no-picture.png'" alt="avatar"
                            class="img-circle img-no-padding img-responsive h-img-bordered">
                    </a>
                </div>
            </div>
        </div>

        <div class="blog-body m-2">

            <div class="post-date">{{getDate(date)}}</div>
            <div class="post-body" [innerHTML]="content | markdown"></div>

            <div *ngIf="blog.posts && blog.posts.length>1" class="blog-posts">
                <h2>Gli altri post di "{{blog.title}}"</h2>

                <!-- LOOP POSTS -->
                <div *ngFor="let post of blog.posts; let i = index">
                    <div *ngIf="actualPostUuid!=post.uuid" class="d-flex align-items-stretch flex-row align-items-center items-row">
                        <div class="d-flex align-items-center actions-cell px-2">
                            <button type="button" class="btn btn-success btn-just-icon h-btn-small-icon"
                                (click)="loadPost(post.uuid)"><i class="fa fa-eye"></i></button>
                        </div>
                        <div class="d-flex align-items-center date-cell px-2"><span>{{post.date}}</span></div>
                        <div class="d-flex align-items-center title-cell px-2" (click)="loadPost(post.uuid)"><a>{{post.title}}</a></div>
                    </div>
                </div> 
            </div>

            <div *ngIf="otherBlogs && otherBlogs.length>1" class="blog-blogs">
                <h2>Gli altri blog di <span>{{blog?blog.owner?blog.owner.username?blog.owner.username:blog.owner.firstName+' '+blog.owner.lastName:'':''}}</span></h2>

                <!-- LOOP BLOGS -->
                <div *ngFor="let blog of otherBlogs; let i = index">
                    <div *ngIf="uuid!=blog.uuid && blog.publicated" class="d-flex align-items-stretch flex-row align-items-center items-row">
                        <div class="d-flex align-items-center actions-cell px-2">
                            <button type="button" class="btn btn-success btn-just-icon h-btn-small-icon" (click)="loadBlog(blog.uuid, undefined)"><i class="fa fa-eye"></i></button>
                        </div>
                        <div class="d-flex align-items-center number-cell px-2" ><span>{{blog.posts?blog.posts.length:0}}</span></div>
                        <div class="d-flex align-items-center title-cell px-2" (click)="loadBlog(blog.uuid, undefined)"><a>{{blog.title}}</a></div>
                    </div>
                </div> 
            </div>

        </div>

    </div>
</div>