.view-blog-area {
    position: relative;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.1em;

    .banner {
        min-height: 100px;
    }

    .blog-header {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;

        .title {
            > span {
                font-size: 1.5em;
                font-weight: bold;
            }
            display: inline-block;
            background-color: #ffffff;
            border-radius: 10px;
            margin-left: 5px;
            padding: 5px 10px 0;

            .subtitle {
                font-size: 1.0em;
                > span {
                    font-weight: bold;
                    font-style: oblique;
                }
            }
        }
        .owner {
            text-align: right;
            img {
                width: 100px;
                margin-right: 5px;
                border: 5px solid #00000020;
            }
        }
    }
    .blog-body {
        position: relative;
        top: -50px;
        background-color: #ffffffaa;
        border-radius: 30px;
        padding: 80px 20px;
    }

    .post-body {
        position: relative;
   }

    .post-date {
        display: inline-block;
        background-color: #4c4c4c;
        color: #ffffff;
        border-radius: 7px;
        padding: 0 10px;
        font-size: 0.9em;
    }

    .blog-posts {
        margin-top: 30px;

        &>div {
            margin-bottom: 3px;
        }

        a {
            text-decoration: underline;
            cursor: pointer;
        }

        h2 {
            text-align: initial;
            font-weight: normal;
            font-size: 1.2em;
            font-weight: bold;
        }
        .date-cell>span {
            font-size: 0.8em;
            background-color: #999999;
            color: #ffffff;
            padding: 0 3px;
            border-radius: 5px;
        }
    }
    .blog-blogs {
        margin-top: 50px;

        &>div {
            margin-bottom: 3px;
        }

        a {
            text-decoration: underline;
            cursor: pointer;
        }

        h2 {
            text-align: initial;
            font-weight: normal;
            font-size: 1.3em;
            
            > span {
                font-weight: bold;
                font-style: oblique;
            }
        }

        .number-cell>span {
            font-size: 0.8em;
            background-color: #999999;
            color: #ffffff;
            padding: 0 3px;
            border-radius: 5px;
            width: 30px;
            text-align: center;
        }
    }

    ul {
        padding-left: 15px;
    }

    .banner {
        width: 100%;
        border-radius: 12px 12px 0 0;
    }

    &>.container {
        padding: 0;
    }
}