<div class="content content-min-height white-text-content headers-centered" role="main">
    <app-content [owner]="owner" [name]="name" [owner]="owner" [topic]="topic" [origin]="origin" [continueLink]="continueLink"></app-content>
</div>
