<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="policy row justify-content-center">
                    <strong class="dynamic-color">Salentopoli</strong> - <a href="#" target="_blank">Privacy Policy</a>&nbsp;|&nbsp;<a href="#" target="_blank">Cookie Policy</a>
                </div>    
            </div>
            <div class="col-lg-6 container dynamic-border-color">
                <div class="credits row justify-content-center align-items-center">
                    <span class="copyright">© {{test | date: 'yyyy'}}, made by Salentopoli</span>
                    <span class="dynamic-background-color actual-background"></span>
                </div>
            </div>
        </div>
    </div>
</div>
