<div class="text-content-editor edit-blog">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <h3>{{uuid?'Modifica':'Nuovo'}}&nbsp;blog</h3>
            </div>
            <div class="col-12 col-md-6 uuid">
                <h5>{{blog.uuid}}</h5>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-3 h-no-padding">
                <label class="strong">Pubblicato:</label>
            </div>
            <div class="col-12 col-md-9 h-no-padding">
                <bSwitch
                [switch-on-color]="'primary'"
                [(ngModel)]="blog.publicated"
                (click)="togglePublicated()"> Toggle is off
                </bSwitch>
            </div>

            <div class="col-12 col-md-4 form-group">
                <label for="title" class="strong">Titolo:</label>
                <input type="text" class="form-control" name="title" placeholder="titolo del post"
                    [(ngModel)]="blog.title" autocomplete="off">
            </div>
            
            <div class="col-12 col-md-4 form-group tags">
                <label for="category" class="strong">Categoria:</label>
                <input type="text" class="form-control" name="category" placeholder="inserire una categoria"
                    [(ngModel)]="blog.category" autocomplete="off">
            </div>

            <div class="col-12 col-md-4 form-group tags">
                <label for="banner" class="strong">Banner:</label>
                <input type="text" class="form-control" name="tags" placeholder="banner"
                    [(ngModel)]="blog.banner" autocomplete="off">
            </div>
            <div class="col-12 form-group tags">
                <label for="description" class="strong">Descrizione:</label>
                <input type="text" class="form-control" name="description" placeholder="inserire una breve descrizione del blog"
                    [(ngModel)]="blog.description" autocomplete="off">
            </div>

            <div class="col-12 form-group">
                <label for="content" class="strong">Testo (markdown)</label>
                <md-editor name="content" 
                [upload]="doUpload" 
                [preRender]="preRenderFunc" 
                [postRender]="postRenderFunc"
                [(ngModel)]="blog.body" 
                [height]="'500px'" 
                mode="editor" 
                (onEditorLoaded)="onEditorLoaded($event)"
                (onPreviewDomChanged)="onPreviewDomChanged($event)"
                required>
                </md-editor>
            </div>
        </div>

        <!-- BUTTON -->
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-center buttons">
                <button *ngIf="!uuid" class="btn btn-primary btn-block btn-round" style="max-width: 300px; display: initial;" (click)="create()">Aggiungi</button>
                <button *ngIf="uuid" class="btn btn-primary btn-block btn-round" style="max-width: 300px; display: initial;" (click)="update()">Modifica</button>
            </div>
        </div>

    </div>
</div>
